.acc{
    width: 100%;
    height: 100%;
    background: #131318;
    .main-content{
        float:left;
        width:100%;
        height: auto;
        margin-bottom:0.2rem;
        .toplist{
            height: 2rem;
            // background: red;
            .iconbox{
                width:1rem;
                height:1rem;
                background:rgba(69,70,76,.7);
                border-radius: 1rem;
                text-align: center;
                .iconfont{
                    font-size: 0.45rem;
                    line-height: 1rem;                   
                }
            }
            .left{
                margin: 0.4rem auto auto 0.4rem;
                float:left;
                display: none
                
            }
            .right{
                margin: 0.4rem 0.4rem auto auto;
                float: right
            }
            .icon-box-active{
                background: rgba(210,172,43,1);
            }
        };

        .center{
            width:4.84rem;
            height:2.6rem;
            background:rgba(72,72,77,1);
            margin:0 auto;
            .modeType{
                text-align: left;
                position: absolute;
                margin:0.24rem auto auto 0.32rem; 
                .iconfont{
                    font-size:0.41rem;
                    margin-right: 0.1rem;                    
                }
                .active{
                    color: rgba(210,172,43,1);
                }
                span{
                    width:auto;
                    height:0.36rem;
                    font-size:0.3rem;
                    font-family:SFUIText-Light;
                    font-weight:300;
                    color:rgba(143,143,146,1);
                    line-height:0.36rem;

                }
            }
            .temperature{                
                height:0.86rem;
                width:1.36rem;
                font-size: 0.72rem;
                font-family:SFUIDisplay-Light;
                font-weight:500;
                color:rgba(143,143,146,1);
                line-height:0.86rem;
                position:absolute;
                margin:0.75rem auto auto 1.79rem;
            }
            .active{
                color: rgba(210,172,43,1);
            }
            .tempButton{
                position:absolute;
                list-style: none;
                margin: 0 auto;
                margin-top:1.79rem;
                // background: greenyellow;
                width: 4.84rem;
                .iconbox{
                  
                    widows: 0.48rem;;
                    height:0.48rem; 
                    line-height: 0.48rem;
                    // background: blue;
                    .iconfont{
                        font-size: 0.48rem;
                        color:rgba(216,216,216,.5);  
                    }
                }
                .sub{
                    float: left;
                    text-align: left;
                    margin-left: 0.4rem;
                }
                .add{
                    float: right;
                    text-align: right;
                    margin-right: 0.4rem;
                    
                }
                .icon-box-active .iconfont{
                    color: rgba(210,172,43,1);
                }
                
              
            }
        }

        .modeButton{
            // background: blueviolet;
            height: 0.9rem;
            margin-top: 0.8rem;
            .iconbox{
                width:0.9rem;
                height: 0.9rem;
                border-radius: 0.9rem;
                background:rgba(72,72,78,1);
                line-height: 0.9rem;
                .iconfont{
                    font-size: 0.45rem;
                    line-height: 0.9rem;                   
                }
            }
            .left{
                margin: 0.4rem auto auto 0.97rem;
                float:left;
            }
            .center{
               display:none;
               margin: 0.4rem  auto;
               .iconfont{
                font-size: 0.25rem;
               }
            }
            .right{
                margin: 0.4rem 0.97rem auto auto;
                float: right;
            }
            .icon-box-active{
                background: rgba(210,172,43,1);
            }
        }


        .fans{
            position:absolute;
            width:4.37rem;
            height:0.9rem;
            background:rgba(68,69,75,.7);
            border-radius: 0.45rem;
            margin: 0.93rem auto auto 0.92rem;
            .iconbox{
                width: 0.5em;
                height: 0.5rem;
                line-height: 0.9rem;
                .iconfont{
                    font-size: 0.5rem;
                }
            }
            .left{
                float:left;
                margin-left: 0.5rem
            }
            .center{
               display:inline-block;             
            }
            .active{
                .iconfont{
                    color: rgba(210,172,43,1);
                }   
            }
            .right{
 
                float: right;
                margin-right: 0.9rem
            }
            .icon-box-active .iconfont{
                color: rgba(210,172,43,1);
            }
           
        }
        .pointDefault{
            pointer-events: none;
        }
        
    }
}
