.audio{
    width: 100%;
    height: 100%;
    background: rgba(29,28,32,0.9);
    // background: greenyellow;
    .main-top{
        float:left;
        width:100%;
        height: 1.8rem;
        padding:0;
        justify-content: space-between;
        .top-list{
            float:left;
            width:33.3%;
            height: 1.8rem;           
            .top-list-box{
                margin:0.4rem auto;
                width:1rem;
                height: 1rem;
                opacity: 0.7;
                background: rgba(63,62,68,0.7); 
                text-align: center;
                line-height: 1rem;
                border-radius:1rem;
                display: flex;
                align-items:center;
                justify-content:center;                
                .iconfont{
                    font-size:0.42rem;
                }
            }
            .voice-active{
                background: #D2AC2B;
                opacity: 1;   
            }
            .swith-all-active{
                background: #D2AC2B;
                opacity: 1;
            }
        }
        .top-middle{
            overflow: hidden;
        } 
        .van-picker{
            background: rgba(0,0,0,0);
            font-size:0.24rem;
        }
        .van-ellipsis{
            padding:0rem;
            font-size:0.24rem; 
            opacity: 0.7;
        }
        .van-picker-column__item--selected{
            color:#D2AC2B;
            opacity: 1;
            font-size:0.26rem; 
        }
    }
    .main-content{
        float:left;
        width:100%;
        height: 2.8rem;
        margin-top: 0.2rem;
        .main-circle{
            margin: auto;
            width:2.78rem;
            height: 2.78rem;
            background: rgba(72,72,77,1); 
            // border-radius: 100%; 
            position: relative;
            .circle-second{
                float: left;
                margin:auto;
                width:2.78rem;
                height: 2.78rem;            
                background: url(../images/Musicicon1.png) no-repeat center center;
                background-size: cover;
                border:0.02rem solid #000;              
            }
          
        }
    }
    .main-vol{
        float:left;
        width:100%;
        height: 1rem;
        margin: 0.5rem auto;
        // background: #000;
        background:transparent; 
        .box-icon{
            float:left;
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            background: rgba(86,86,93,0.7);
            line-height: 1rem;
            text-align: center;
            font-size:0.42rem;
            font-weight: 300;
            opacity: 0.7;
            display: flex;
            align-items: center;
            justify-content: center;
           
            .iconfont{
                font-size:0.52rem;
            }
        }
        .left{
                
            float: left;
            margin-left: 0.5rem;
        }
        // .center{
            
        // }
        .right{
            float: right;
            margin-right: 0.5rem;
        }
        .icon-middle{
            margin: 0.5rem 0;
            pointer-events:stroke;
        }
        .icon-active{
            opacity: 1;
            background-color: #D2AC2B;
            .iconfont{
                color:#fff;
            }
        }
     
    }
    .main-bottom{
        float:left;
        width:100%;
        height: 1.58rem;

        justify-content: space-between;

        .bottom-li{
            float:left;
            width:33.3%;
            height: 1.8rem;        

            .box-icon{
                margin:0.4rem auto;
                background: rgba(86,86,93,0.7);
                color:#fff;
                width: 1rem;
                height: 1rem;
                border-radius: 1rem;
                line-height: 1rem;
                text-align: center;
                font-size:0.42rem;
                font-weight: 300;
                opacity: 0.7;
                display: flex;
                align-items: center;
                justify-content: center;
                .iconfont{
                    font-size:0.52rem;
                }
            }
            .play{
                width: 1.26rem;
                height: 1.26rem;
                border-radius: 1.26rem;
                line-height: 1.8rem;
                margin:0.3rem auto;
                .iconfont{
                    font-size:0.62rem;
                
                }
            }
            .left{
                .iconfont{
                margin-left:-0.1rem;
                }
            }
            .right{
                .iconfont{
                margin-left:0.1rem;
                }
            }
            .icon-middle{
                margin: 0.5rem 0;
                pointer-events:stroke;
               
                
            }
            .icon-active{
                opacity: 1;
                background-color: #D2AC2B;
                .iconfont{
                    color:#fff;
                }
            }
          
        }
    }
    .pointerDefault{
        pointer-events: none;
        .bottom-li{
            .li-box{
                .icon-middle{
                    pointer-events: none;
                }
            }
        }
        
   }
}

