.home{
    width: 100%;
    height: 100%;
    background: #131318;
    .main-top{
        float:left;
        width: 100%;
        height: 3.75rem;
        background: #404147;
        .top-btn{
            float: right;
            width: 2rem;
            height: 0.6rem;
            border:0.02rem solid rgba(210,172,43,1);
            margin: 0.3rem 0.3rem 0 0;
            color:#fff;
            .btn-li{
                float:left;
                width:1rem;
                height: 0.6rem;
                text-align: center;
                line-height: 0.6rem;
                font-size: 0.32rem;
            }
            .btn-active{
                background: #D2AC2B;
                pointer-events: none;
            }
        }
        .top-tempList{
            float:left;
            width:100%;
            height: 2.5rem;
            .temp-li{
                float:left;
                width: 2.94rem;
                margin-top: 0.5rem;
                height: 2rem;
                box-sizing: border-box;
                .temp-box{
                    margin: auto;
                    width:80%;
                    height: 100%;
                    font-size:  0.48rem;
                    color:#fff;
                    .temp-li-num{
                        width:100%;
                        height: 1.2rem;
                        line-height: 1.2rem;
                        .iconfont{
                            font-size:0.6rem;
                            letter-spacing: -0.1rem;
                            text-align: center;
                        }
                    }
                    sup{
                        font-size:0.24rem;
                    } 
                    .temp-li-text{
                        width:100%;
                        height: 0.7rem; 
                        line-height: 0.7rem;
                        font-size:0.28rem;
                    }                 
                }
            }
            .temp-li:nth-child(1){
                width:2.96;
                border-right:0.03rem solid rgba(232,232,232,0.7);
            }
        }
    }
    .main-content{
        float:left;
        width:100%;
        height: auto;
        .main-con-ul{
            float:left;
            width:100%;
            height: auto;
            .main-li{
                float:left;
                width:49%;
                height: 2.16rem;
                background: #404147;
                margin-top: 0.15rem;
                .li-icon{
                    margin-top: 0.3rem;
                    height: 1rem;
                    line-height: 1rem;
                    .iconfont{
                        font-size:0.60rem;   
                        color:rgba(255,255,255,0.5);    
                        font-weight:300;              
                    }
                }
                .li-text{
                    height: 0.8rem;
                    line-height: 0.8rem;
                    font-size:0.28rem;
                    font-weight:300;
                    color:rgba(255,255,255,0.5);       
                }
            }
            .li-right{
                margin-right:2%;
            }
            .li-active{
                background: #af9027;
                color:#fff;
                .li-icon{
                    .iconfont{
                        color:rgba(255,255,255,1);         
                    }
                }
                .li-text{
                    color:rgba(255,255,255,1);       
                }
            }
        }
    }
}
