<template>
<div class="adressCreat" >
  <div class="register-prompt">
      <van-popup v-model="isSowAdressC" class="register-prompt-alert" position="top" :overlay="false">{{showtextAdressC}}</van-popup>
  </div>
  <div class="adressCreat-main clear-box">
    <ul class="main-ul">
      <li class="main-li tt-name">
        <div class="tt">{{adressName}}</div>
        <div class="text">
          <input type="text" class="name" v-model="nameAdressC" :placeholder="nameAdressS" />
        </div>
      </li>
      <li class="main-li tt-phone">
        <div class="tt">{{adressPhone}}</div>
        <div class="text">
          <input type="text" class="name" v-model="phoneAdressC" :placeholder="phoneAdressS" />
        </div>
      </li>
      <li class="main-li tt-adress">
        <div class="tt">{{adressDelivery}}</div>
        <div class="text">
          <textarea class="textarea" v-model="textAdressC" :placeholder="adressDeliveryS"></textarea>
        </div>
      </li>
      <li class="main-li tt-set">
        <div class="tt" @click="setDefault =! setDefault">
          <router-link to="">
            <i class="iconfont" v-bind:class="{'icon-none':!setDefault,'icon-choice':setDefault}"></i>
          </router-link>
        </div>
        <div class="text" @click="setDefault =! setDefault">{{adressDefault}}</div>
      </li>
    </ul>
  </div>
    <div class="common-left-icon">
    <div class="common-bottom-left" @click="jumpAdress">
        <i class="iconfont icon-back1"></i>
    </div>
  </div>
  <div class="footer-btn-box">
    <button class="btn" @click="adressSave"><router-link to="">{{adressSaveBtn}}</router-link></button>
  </div>
</div>  
</template>

<script>
  export default {
    name: "adressCreat",
    data() {
      return {
        adressCreatTitle: "Creat New Adress", // 名称
        setDefault: false, // 默认地址
        isSowAdressC: false, // 报错框
        adressName: "", // 名字
        adressPhone: "", //电话
        adressDelivery: "", // 地址
        adressDefault: "", // 设为默认
        adressSaveBtn: "", // 保存
        nameAdressS: "",
        adressDeliveryS: "",
        showtextAdressC: "", // 报错提示的内容
        nameAdressC: "", // 姓名
        phoneAdressC: "", // 手机
        textAdressC: "", // 地址
        phoneAdressS: "",
        allMessageCon: "",
        adressCode: ""
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-adressCreat","");   // iphoneX适配问题
      this.adressCreatLoad();
    },
    methods: {
      adressCreatLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.adressCreatTitle = "Creat New Adress"; // 名称
          this.adressName = "Name :"; // 名字
          this.adressPhone = "Phone :"; //电话
          this.adressDelivery = "Adress :"; // 地址
          this.adressDefault = "Set as default"; // 设为默认
          this.adressSaveBtn = "Save"; // 保存
          this.nameAdressS = "Please enter name"; // 姓
          this.phoneAdressS = "Please enter phone number"; // 电话
          this.adressDeliveryS =
            "Please enter Room Number in hotel, or Address out of hotel";
          this.allMessageCon = "Please fill in the information!";
        } else {
          this.adressCreatTitle = "新建地址"; // 名称
          this.adressName = "名字 ："; // 名字
          this.adressPhone = "电话 ："; //电话
          this.adressDelivery = "地址 ："; // 地址
          this.adressDefault = "设为默认地址"; // 设为默认
          this.adressSaveBtn = "保存"; // 保存
          this.nameAdressS = "请输入姓名"; // 姓
          this.phoneAdressS = "请输入电话"; // 电话
          this.adressDeliveryS = "请输入酒店房间号码，或酒店地址";
          this.allMessageCon = "请完善信息！";
        }
      },
      adressCreatSave: function(setDefaultAdress) {
        let _this = this;
        _this.axios
          .post(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            "", {
              recipient_name: _this.nameAdressC, //收件人姓名
              recipient_phone:  _this.phoneAdressC, //收件人电话
              is_default: setDefaultAdress, //是否是默认地址，1表示默认，0表示非默认。
              address: _this.textAdressC //地址
            }
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              console.log("document.cookieAdressCreat", document.cookie);
              _this.$router.push({
                path: "/adressManage"
              });
            }
          });
      },
      adressSave: function() {
        if (
          this.nameAdressC &&
          this.phoneAdressC &&
          this.textAdressC
        ) {
          this.isSowAdressC = false;
          let setDefaultAdress = 0;
          if (this.setDefault == true) {
            setDefaultAdress = 1;
          }
          this.adressCreatSave(setDefaultAdress); // 加载创建地址的接口
        } else {
          this.isSowAdressC = true;
          this.showtextAdressC = this.allMessageCon; // 请完善信息
          let _this = this;
          setTimeout(function() {
            _this.isSowAdressC = false;
          }, 1000);
        }
      },
      jumpAdress: function() {
        let _this = this;
        // 返回按钮返回的页面
        this.axios
          .get(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                let adressArr = sucss.data.data; // 获取地址信息
                let adressListArr = []; // 初始化地址列表
                if (adressArr.length > 0) {
                  _this.$router.push({
                    path: "/adressManage"
                  });
                } else {
                  let adresBack = localStorage.getItem("adressManageBack");
                  let cartS = localStorage.getItem("adressCreat");
                  if (adresBack && adresBack == "setting") {
                    _this.$router.push({
                      path: "/setting"
                    });
                  } else if(adresBack && adresBack == "order"){
                    _this.$router.push({
                      path: "/order"
                    }); // 返回下单列表
                  }else if(cartS && cartS == "cartShopping"){
                    _this.$router.push({
                      path: "/cartShopping"
                    }); // 返回下单列表
                  }else{
                      _this.$router.push({
                      path: "/index"
                    }); // 返回下单列表
                  }
                }
              }
            },
            function(err) {
              _this.$router.push({
                path: "/index"
              }); // 返回下单列表
            }
          );
      }
    },
    destroyed: function() {
      localStorage.setItem("adressCreat", "");
    }
  };
</script>

<style src="../css/adressCreat.scss" lang="scss" scoped>

</style>

