<template>
<div class="adressCreat adressEdit">
  <div class="register-prompt">
      <Alert banner v-show="isSowAdressC" type="error" class="register-prompt-alert">{{showtextAdressC}}</Alert>
    </div>
    <div class="adressCreat-main">
      <ul class="main-ul">
        <li class="main-li tt-name">
          <div class="tt">{{adressName}}</div>
          <div class="text">
            <input type="text" class="name" v-model="nameAdressC" :placeholder="nameAdressS" />
          </div>
        </li>
        <li class="main-li tt-phone">
          <div class="tt">{{adressPhone}}</div>
          <div class="text">
            <input type="text" class="name" v-model="phoneAdressC" :placeholder="phoneAdressS" />
          </div>
        </li>
        <li class="main-li tt-adress">
          <div class="tt">{{adressDelivery}}</div>
          <div class="text">
            <textarea class="textarea" v-model="textAdressC" :placeholder="adressDeliveryS"></textarea>
          </div>
        </li>
        <li class="main-li tt-set">
          <div class="tt" @click="setDefault =! setDefault">
            <router-link to="">
              <i class="iconfont" v-bind:class="{'icon-none':!setDefault,'icon-choice':setDefault}"></i>
            </router-link>
          </div>
          <div class="text" @click="setDefault =! setDefault">{{setDefaultRadio}}</div>
        </li>
      </ul>
    </div>
    <div class="common-left-icon">
      <div class="common-bottom-left" @click="jumpBack">
          <i class="iconfont icon-back1"></i>
      </div>
       <div class="common-bottom-right" @click="deleteDressEdit(adressId)">
          <i class="iconfont icon-delete"></i>
        </div>
    </div>
    <div class="footer-btn-box">
      <button class="btn" @click="adressSaveEdit"><router-link to="">{{adressSave}}</router-link></button>
    </div>
    <div class="common-model" v-show="adressDeleteModel">
      <div class="adress-delete">
        <div class="order-model-main">
          <p>{{adressDeleteWarn1}}</p>
          <p>{{adressDeleteWarn2}}</p>
        </div>
        <ul class="order-model-footer">
          <li class="model-li order-no" @click="modelShowNo">
            <button type="button" class="order-no-btn btn">{{adressDelBtnNo}}</button>
          </li>
          <li class="model-li" @click="modelShowYes">
            <button type="button" class="order-yes-btn btn"><router-link to="/adressManage">{{adressDelBtnYes}}</router-link></button>
          </li>
        </ul>
      </div>
    </div>
</div>  
</template>

<script>
  export default {
    name: "adressEdit",
    data() {
      return {
        adressCreatTitle: "Edit Adress", // 名称
        adressDelete: "Delete", // 删除
        adressDeleteModel: false, // 删除model
        isSowAdressC: false, // 报错提示框
        showtextAdressC: "", // 报错提示信息
        adressName: "", // 名字
        adressPhone: "", //电话
        adressDelivery: "", // 地址
        adressDefault: "", // 设为默认
        adressSave: "", // 保存
        nameAdressC: "", // name信息
        phoneAdressC: "", // 手机号
        textAdressC: "", // 地址信息
        adressId: "", // 地址的信息
        setDefault: "",
        setDefaultRadio: "",
        adressDeleteWarn1: "",
        adressDeleteWarn2: "",
        adressDelBtnNo: "",
        adressDelBtnYes: "",
        allMessageCon: "",
        mobileWrong: "",
        adressCode: ""
      };
    },
    mounted: function() {
      this.adressEditLoad();
      this.adressEdit();
    },
    methods: {
      adressEditLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.adressCreatTitle = "Edit Adress"; // 名称
          this.adressName = "Name:"; // 名字
          this.adressPhone = "Phone:"; //电话
          this.adressDelivery = "Adress:"; // 地址
          this.adressDefault = "Set as default"; // 设为默认
          this.adressSave = "Save"; // 保存
          this.nameAdressS = "Please enter name"; // 姓
          this.phoneAdressS = "Please enter phone number"; // 电话
          this.adressDeliveryS =
            "Please enter Room Number in hotel, or Address out of hotel";
          this.setDefaultRadio = "Set as default";
          this.adressDelete = "Delete";
          this.adressDeleteWarn1 = "Please make sure that you want to";
          this.adressDeleteWarn2 = "delete this address !";
          this.adressDelBtnNo = "No";
          this.adressDelBtnYes = "Yes";
          this.allMessageCon = "Please fill in the information!";
          this.mobileWrong = "Mobile number is wrong!"; // 手机号有误
        } else {
          this.adressCreatTitle = "编辑地址"; // 名称
          this.adressName = "名字："; // 名字
          this.adressPhone = "电话："; //电话
          this.adressDelivery = "地址："; // 地址
          this.adressDefault = "设为默认地址"; // 设为默认
          this.adressSave = "保存"; // 保存
          this.nameAdressS = "请输入姓名"; // 姓
          this.phoneAdressS = "请输入电话"; // 电话
          this.adressDeliveryS = "请输入酒店房间号码，或酒店地址";
          this.setDefaultRadio = "设为默认地址";
          this.adressDelete = "删除";
          this.adressDeleteWarn1 = "请确认删除该地址！";
          this.adressDeleteWarn2 = "";
          this.adressDelBtnNo = "否";
          this.adressDelBtnYes = "是";
          this.allMessageCon = "请完善信息！";
          this.mobileWrong = "手机号有误"; // 手机号有误
        }
      },
      adressEdit: function() {
        let adressJson = localStorage.getItem("adressJson");
        let adressJsonP = JSON.parse(adressJson);
        if (adressJsonP) {
          this.adressId = adressJsonP.id; // 地址的标志
          this.textAdressC = adressJsonP.address; // 地址
          this.phoneAdressC =adressJsonP.recipient_phone; // 获取手机号
          this.nameAdressC = adressJsonP.recipient_name; // 姓名
          this.setDefault = adressJsonP.is_default; //是否显示默认
        }
      },
      adressSaveEdit: function() {
        // 点击保存信息时
        if (this.nameAdressC && this.phoneAdressC && this.textAdressC) {
          //姓名 手机号 地址不能为空
          let _this = this;
          let setDefaultAdress = 0;
          if (this.setDefault == true) {
            setDefaultAdress = 1;
          }
          if (this.adressId) {
            _this.axios
              .put(
                "" +
                _this.$root.domainName +
                "/api/junctioncore/v1/customer_address/" +
                _this.adressId +
                "/?" +
                _this.$root.junAppName +
                "", {
                  recipient_name: _this.nameAdressC, //收件人姓名
                  recipient_phone: _this.phoneAdressC, //收件人电话
                  is_default: setDefaultAdress, //是否是默认地址，1表示默认，0表示非默认。
                  address: _this.textAdressC //地址
                }
              )
              .then(function(sucss) {
                if (sucss.data.ret == "200") {
                  _this.queryAdressManage(); // 查询地址信息
                }
              });
          }
          this.isSowAdressC = false; // 隐藏报错提示
          this.$router.push({
            path: "/order"
          });
        } else {
          this.isSowAdressC = true; // 显示报错提示
          this.showtextAdressC = this.allMessageCon; // 请完善信息
          let _this = this;
          setTimeout(function() {
            _this.isSowAdressC = false;
          }, 1000);
        }
      },
      adressMobile: function() {
        // 电话号码验证
        let _this = this;
        if (!/^[1][3,4,5,7,8][0-9]{9}$/.test(this.phoneAdressC) ||
          this.phoneAdressC.length != "11"
        ) {
          // 手机号验证
          this.$toast(_this.mobileWrong); // 手机号有误
          rtturn;
        }
      },
      deleteDressEdit: function(adressId) {
        // 删除信息时，显示提示框
        this.adressDeleteModel = true; // 删除该信息时的提示框
      },
      modelShowNo: function() {
        // 不删除
        this.adressDeleteModel = false; // 隐藏删除提示框
      },
      modelShowYes: function() {
        // 删除成功时的操作
        this.adressDeleteModel = false; // 隐藏删除提示框
        let _this = this;
        if (this.adressId) {
          _this.axios
            .delete(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer_address/" +
              _this.adressId +
              "/?" +
              _this.$root.junAppName +
              ""
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                _this.queryAdressManage(); // 查询地址
              }
            });
        }
      },
      queryAdressManage: function() {
        let _this = this;
        _this.axios
          .get(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                let adressArr = sucss.data.data; // 获取地址信息
                let adressListArr = []; // 初始化地址列表
                if (adressArr.length > 0) {
                  _this.$router.push({
                    path: "/adressManage"
                  }); // 返回到创建地址的页面
                } else {
                  let adresBack = localStorage.getItem("adressManageBack");
                  let cartS = localStorage.getItem("adressCreat");
                  if (adresBack && adresBack == "setting") {
                    _this.$router.push({
                      path: "/setting"
                    });
                  }else if(adresBack && adresBack == "order"){
                      _this.$router.push({
                      path: "/order"
                    });
                  } else if (cartS && cartS == "cartShopping") {
                    _this.$router.push({
                      path: "/cartShopping"
                    }); // 返回下单列表
                  } else {
                    _this.$router.push({
                      path: "/index"
                    }); // 返回下单列表
                  }
                }
              }
            },
            function(err) {
              _this.$router.push({
                path: "/cartShopping"
              }); // 创建地址
            }
          );
      },
      jumpBack: function(){
        this.$router.push({path: "/adressManage"});
      }
    }
  };
</script>

<style src="../css/adressCreat.scss" lang="scss" scoped>

</style>

