<template>
<div class="adressManage">
  <div class="adres-manage-main">
    <div class="adressManage-main">
      <ul class="adress-list">
        <li class="adress-list-li" v-for="(adressList,index) in  adressLists" :key="index">
          <ul class="ul-li-top" @click="adressListChoice(index)">
            <li class="li-list li-icon" v-show="adressList.default"><i class="iconfont icon-default"></i></li>
            <li class="li-list li-name">{{adressList.name}}</li>
            <li class="li-list">{{adressList.tel}}</li>
            <li class="li-list list-default" v-show="adressList.default">
              <i class="iconfont" v-bind:class="{'icon-defaultC':defaultState, 'icon-defaultE': !defaultState}"></i>
            </li>
          </ul>
          <ul class="ul-li-top">
            <li class="li-list li-adrsss">{{adressList.adress}}</li>
            <li class="li-list li-edit" @click="editAdress(index)">
              <router-link to="">
                <i class="iconfont icon-edit"></i>
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="common-left-icon">
      <div class="common-bottom-left" @click="adressManageBack();">
          <i class="iconfont icon-back1"></i>
      </div>
  </div>
  <div class="footer-btn-box">
    <button class="btn" @click="adressNew"><router-link to="">{{addNewAdress}}</router-link></button>
  </div>
</div> 
</template>

<script>
  export default {
    name: "adressManage",
    data() {
      return {
        adressCreatTitle: "Edit Adress", // 名称
        adressLists: [], // 地址列表
        defaultState: ""
      };
    },
    mounted: function() {
      this.adressMangeLoad();
    },
    methods: {
      adressMangeLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.adressCreatTitle = "Adress List"; // 名称
          this.addNewAdress = "Add a new address";
          this.defaultState = false; // 显示英文状态
        } else {
          this.adressCreatTitle = "地址列表"; // 名称
          this.addNewAdress = "新增地址";
          this.defaultState = true; // 显示中文状态
        }
        let _this = this;
        _this.axios
          .get(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            ""
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let adressArr = sucss.data.data; // 获取地址信息
              let adressListArr = []; // 初始化地址列表
              if (adressArr.length > 0) {
                adressArr = _this.jsonSort(adressArr); // 排序
                for (let i = 0; i < adressArr.length; i++) {
                  let listF = adressArr[i]; // 地址
                  let listId = listF.id; // 地址的标志
                  let listAdress = listF.address; // 地址
                  let listPhone = listF.recipient_phone; //  手机号
                  let listName = listF.recipient_name; // 姓名
                  let listIsDefault = listF.is_default; // 是否默认地址
                  let adressListJson = {
                    id: listId, //
                    default: listIsDefault,
                    name: listName,
                    tel: listPhone,
                    adress: listAdress,
                    listJson: listF
                  };
                  adressListArr.push(adressListJson);
                }
                _this.adressLists = adressListArr;
              } else {
                _this.$router.push({
                  path: "/adressCreat"
                }); // 创建地址
              }
            }
          });
      },
      editAdress: function(index) {
        // 编译地址
        let listJson = this.adressLists[index].listJson; // 获取编译的信息
        localStorage.setItem("adressJson", JSON.stringify(listJson)); // 存储原来的数据
        this.$router.push({
          path: "/adressEdit"
        }); // 跳转到编译地址的页面
      },
      adressListChoice: function(index) {
        let wholeResTextGet = localStorage.getItem("wholeResText"); //整体订单的备注信息
        if (!wholeResTextGet) {
          wholeResTextGet = ""; // 设置整体订单的备注
        }
        let listJson = this.adressLists[index]; // 获取编译的信息
        let adressJsonSet = {
          expected_delivery_time: 0,
          note: wholeResTextGet, // 整体订单的备注信息
          recipient_name: listJson.name, // 暂时储入默认姓氏
          recipient_phone: listJson.tel, // 手机号
          address: listJson.adress // 地址信息
        };
        localStorage.setItem("deliveryAdress", JSON.stringify(adressJsonSet)); // 存储快递地址
        let adresBack = localStorage.getItem("adressManageBack");
        if (!adresBack || adresBack != "setting") {
          this.$router.push({
            path: "/order"
          }); // 跳转到订单管理的页面
        }
      },
      jsonSort: function(arr) {
        let strDefault = "";
        for (let i = 0; i < arr.length; i++) {
          let DefaultV = arr[i].is_default; // 默认值
          if (DefaultV == true) {
            strDefault = arr[i]; // 默认值
            arr.splice(i, 1); // 移除默认值
            arr.unshift(strDefault); // 把默认值添加到头部
          }
        }
        return arr;
      },
      adressNew: function() {
        this.$router.push({
          path: "/adressCreat"
        });
      },
      adressManageBack: function() {
        // 返回按钮返回的页面
        let adresBack = localStorage.getItem("adressManageBack");
        let cartS = localStorage.getItem("adressCreat");
        if (adresBack) {
          if (adresBack == "order") {
            this.$router.push({
              path: "/order"
            });
          } else {
            this.$router.push({
              path: "/setting"
            });
          }
        } else if (cartS && cartS == "cartShopping") {
          this.$router.push({
            path: "/cartShopping"
          }); // 返回下单列表
        } else {
          this.$router.push({
            path: "/index"
          });
        }
      }
    }
  };
</script>

<style src="../css/adressManage.scss" lang="scss" scoped>

</style>

