<template>
  <div class="product">
    <!-- 侧边栏组件 -->
    <sliderPage></sliderPage>
    <!-- 主体页面 -->
    <div class="index-main" :style="mainC">
      <div class="ball" id="product-ball"></div>
      <div class="ball-box" id="ball-box"></div>
      <div class="index-main-box mainSetImageBg" :style="mainBg">
        <div class="index-main-opacity">
          <div class="product-main">
            <div class="product-box">
              <div class="product-title">
                <swiper :options="swiperOptionP">
                    <swiper-slide class="pro-tt-li" v-bind:class="{'pro-tt-li-active':proTt.state}"
                    v-for="(proTt, index) in proTts" :key="index">
                      <div class="pro-tt-li-text"  @click="proListChangeJson(index);">{{proTt.title}}</div>
                    </swiper-slide>
                </swiper>
              </div>             
              <div class="product-list" id="productMain">
                <div class="product-list-main" >
                  <div class="product-main-mian" >
                    <ul class="pro-main-ul clearFix">
                      <li class="pro-main-li" v-for="(proList,index) in proLists" :key="index">
                        <div class="pro-li-img" @click="jumpProdetail(proList.href,pageIdArrNow,index)">
                          <img class="pro-li-images" v-lazy="proList.img" />
                        </div>
                        <div class="pro-li-des">
                          <div class="pro-des-tt" @click="jumpProdetail(proList.href,pageIdArrNow,index)">
                            <h3 class="pro-des-name">{{proList.name}}</h3>
                            <h4 class="pro-des-price">{{proList.price}}</h4>
                            <p class="pro-des-detail">{{proList.detail}}</p>
                          </div>
                          <div class="pro-des-icon" >
                            <div class="pro-des-iconfont" @click="addCart(proList.name,proList.number,proList.langAgnosticId,proList.variantData,proList.priceNum)"><i class="iconfont icon-cart"></i></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="common-left-icon">
        <div class="common-bottom-left"  @click="showA">
          <i class="iconfont icon-list"></i>
        </div>
        <div class="common-bottom-right">
          <cartPage ref="cartpage"></cartPage>
        </div>
      </div>
    </div>
    <!-- 侧边栏显示时，覆盖主页面，点击时隐藏侧边栏 -->
    <div class="slider-common" @click="showA"></div>
    <div class="proModel" v-show="proModelShow">
       <div  class="proModel-content">
        <div class="proModel-tt">
          <div class="title">{{proDeTitle}}</div>
            <div class="close" @click="proModelCancel">×</div>
        </div>
         <ul class="proModel-ul">
          <li class="proModel-li" v-for="(add,index) in adds" :key="index">
            <div class="size-tt">{{add.name}}</div>
            <div class="size-num" v-bind:class="{'choice-active':option.state}" v-for="(option,index1) in add.options" :key="index1" @click="changBtnAdd(add.options,index1)">
              {{option.item}}
            </div>
          </li>
        </ul>
        <div class="proModel-li proModel-footer">
          <div class="price">{{modelPrice}}</div>
            <button type="button" class="conBtn" @click="confirmFood">{{btnConfirm}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import sliderPage from "../../../components/indexSlider.vue";
  import cartPage from "../../../components/cartPage.vue";
    import "swiper/dist/css/swiper.css";
  import {
    swiper,
    swiperSlide
  } from "vue-awesome-swiper";
  export default {
    name: "product",
    components: {
      sliderPage, // 侧边栏数据
      cartPage, // 购物车
       swiper,
      swiperSlide
    },
    data() {
      return {
        mainC: {
          width: "7.5rem"
        },
        proMainWidth: {
          height: "100%"
        },
        isShow: true,
        pageIdArrNow: "",
        productTitle: "",
        proTtWidth: "7.5rem",
        mainBg: {
          background: ""
        }, // 设置背景图片
        proTts: [], // 导航栏列表
        proLists: [], // 产品列表
        proListsAll: [],
        proModelShow: false,
        proDeTitle: "",
        adds: [],
        modelPricePro: "", // 弹框价格赋值
        productPrice: "",
        modelPrice: "",
        btnConfirm: "sure",
        moneyIcon: "", //货币符号
        modelNum: 1, // 提示框显示的数量
        modelId: "", // 产品id
        modelVar: [], // 产品的配置信息
        languageSetNew:"",
        ballLeft:0,
        ballTop:0,
         swiperOptionP: {
          loop: false,
          slidesPerView: 'auto',
          spaceBetween: 10
        }
      };
    },
    mounted: function() {
      let getBgImagesUrl = localStorage.getItem("bgImgUrl"); // 存储背景图片链接
      if (getBgImagesUrl) {
        this.mainBg.background =
          "url(" + getBgImagesUrl + ") no-repeat 100% 100%"; // 加载背景图片
        this.ImgWidthHeight(getBgImagesUrl, this.mainBg); //设定背景图片
      }
      this.productLoad();
    },
    methods: {
      productLoad: function() {
        let _this = this;
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        this.languageSetNew = languageSet; 
        if (!moneyImg) {
          moneyImg = "￥"; // 获取符号不存在时，默认为人民币
        }
        this.moneyIcon = moneyImg;
        if (languageSet == "en") {
          this.btnConfirm = "Confirm";
        } else {
          this.btnConfirm = "确认";
        }
        let sliderTitle = localStorage.getItem("sliderTitle"); // 设定标题名称
        if (sliderTitle) {
          this.productTitle = sliderTitle; // 设定标题名称
        }
        let pageIdArr = _this.$route.query.pageId; // 获取当前页面上的pageID
        let pageArrS = pageIdArr;
        if (typeof pageIdArr == "arr") {
          pageArrS = pageIdArr.join(",");
        }
        _this.pageIdArrNow = pageIdArr;
        productFun1(pageArrS, pageIdArr);
        function productFun1(str, pageIdArr) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              str +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let dataJson = sucss.data.data; // 获取json 数据
                let titleArr = []; // 标题栏初始化数据
                let listAllArrImg = []; // 所有类别下的商品汇总
                let productPageIndex = localStorage.getItem("productPageIndex"); // 不是首次进来时的状态
                let productLeave = localStorage.getItem("productLeave"); // 获取上次离开时存储的url地址信息
                let productPageInit = 0;
                if (productPageIndex && productLeave == pageIdArr) {
                  productPageInit = productPageIndex; // 不是首次进来 记录上次进来的索引值
                }
                let listLen = 0; // 初始化导航栏宽度
                for (let i = 0; i < dataJson.length; i++) {
                  let titleLang = dataJson[i].translates[languageSet].title; // 标题名称
                  let listDataMer = dataJson[i].all_merchandises; // 获取页面的所有商品
                  let proState = ""; // 是否显示选中状态
                  if (productPageInit == i) {
                    proState = true; // 判断第几个标题是选中状态
                    localStorage.setItem("productPageIndex", i); // 记录当前页面标题的显示状态
                  } else {
                    proState = false;
                  }
                  let listJson = {
                    state: proState, // 是否显示选中状态
                    title: titleLang, // 显示标题栏
                  };
                  titleArr.push(listJson); // 标题栏数组
                  // 渲染到列表页的数据
                  let listArrImg = []; // 一个类别下的商品信息
                  for (let j = 0; j < listDataMer.length; j++) {
                    let merListAllJson = listDataMer[j]; // 整条数据信息
                    let merPageId = merListAllJson.id; // 当前数据对应的id值
                    let merTitleLang =
                      merListAllJson.translates[languageSet].title; // 标题名称
                    let merMsg =
                      merListAllJson.translates[languageSet].description; // 提示信息
                    let imgUrlId = merListAllJson.defaultImage.internalImageId === undefined ? false : merListAllJson.defaultImage.internalImageId ; // 图片的id值
                    let imgUrl = ""; // 初始化图片地址
                    if (allImagesObj && imgUrlId) {
                      imgUrl = allImagesObj[imgUrlId].internal_image_url; // 获取图片的连接地址
                    }
                    let merPrice = merListAllJson.defaultPriceInMill / 1000; // 商品价格
                    let langAgnosticIdPro = merListAllJson.langAgnosticId; // 商品id
                    let variantDataArr = setVarian(merListAllJson);
                    let variantDataArrState = false;
                    if (variantDataArr.length > 0) {
                      variantDataArrState = true;
                    }
                    let merJosn = {
                      number: 1, // 商品数量
                      variantData: variantDataArr, // 商品配置信息
                      state: variantDataArrState, //
                      langAgnosticId: langAgnosticIdPro, // 商品的id
                      img: imgUrl, // 商品图片
                      href: "productDetail", // 商品详情页
                      name: merTitleLang, // 商品名称
                      priceNum: merPrice, // 商品价格的num
                      price: moneyImg + merPrice, // 商品价格
                      detail: merMsg, // 商品描述
                      dataJson: JSON.stringify(merListAllJson) // 该商品的所有信息
                    };
                    listArrImg.push(merJosn); // 一个类别下的商品信息
                  }
                  listAllArrImg.push(listArrImg); // 所有类别下的商品汇总
                }
                _this.proListsAll = listAllArrImg; // 所有类别下的商品数据赋值渲染
                _this.proLists = _this.proListsAll[productPageInit]; // 类别渲染
                _this.proTts = titleArr; // 标题栏数组赋值
                function setVarian(merListAllJson) {
                  let productCongig = merListAllJson.variantData;
                  if (
                    productCongig &&
                    productCongig.optionGroups &&
                    productCongig.optionGroups.length > 0
                  ) {
                    // _this.isShowCart = true; // 购物配置信息弹框弹出
                    let productMessageArr =
                      merListAllJson.translates[languageSet].optionTranslations
                      .translations; //数据数组
                    let proOptionGroups = productCongig.optionGroups; // 获取该产品的配置信息
                    let variantsArr = []; // 添加的数据
                    for (let j = 0; j < proOptionGroups.length; j++) {
                      let productVarList = proOptionGroups[j];
                      let proNameId = productVarList.langAgnosticId; // 种类名称的id
                      let proName = productMessageArr[proNameId]; // 商品名称（eg：size）
                      if (languageSet == "en") {
                        proName = proName + ":";
                      } else {
                        proName = proName + "：";
                      }
                      let proOptions = productVarList.options; // 商品下分类信息
                      let proOptionArr = []; // 分类下的列表
                      for (let k = 0; k < proOptions.length; k++) {
                        let proOptionPrice = proOptions[k].priceInMill; // 种类下的类型分类
                        let proOptionListId = proOptions[k].langAgnosticId; // 种类下的类型分类
                        let proOptionListName =
                          productMessageArr[proOptionListId]; // 分类信息(eg:size下的large/small)
                        let proState = false;
                        if (k == 0) {
                          proState = true;
                        }
                        let proOptionJson = {
                          proId: proOptionListId,
                          item: proOptionListName,
                          state: proState,
                          price: proOptionPrice
                        };
                        proOptionArr.push(proOptionJson); // 存入信息
                      }
                      let productVarListJson = {
                        name: proName, // 商品添加的名称（eg:size）
                        options: proOptionArr //商品名称下的选项（eg:size:large/small）
                      };
                      variantsArr.push(productVarListJson); // 添加分类的3汇总
                    }
                    return variantsArr;
                  } else {
                    let arr = [];
                    return arr;
                  }
                }
              }
            });
        }
      },
      showA: function() {
        // 主页面与侧边栏左右滑动
        if (this.mainC.width == "7.5rem") {
          this.mainC.width = "2.3rem"; // 主屏幕宽度
          $(".index-slider").fadeIn(1000); // 侧边栏显示
          $(".slider-common").css("display", "block"); // 显示侧边栏弹框
        } else {
          this.mainC.width = "7.5rem"; // 主屏幕宽度
          $(".index-slider").fadeOut(1000); // 侧边栏隐藏
          $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
        }
      },
      proListChangeJson: function(index) {
        this.proLists = this.proListsAll[index]; // 渲染数据
        $(".pro-tt-li").removeClass("pro-tt-li-active"); //未选中状态
        $(".pro-tt-li")
          .eq(index)
          .addClass("pro-tt-li-active"); // 选中状态
        let scrollObj = document.getElementById('productMain'); // 滚动区域
        scrollObj.scrollTop = 0; // 标题栏切换的时候，返回顶部
        localStorage.setItem("productPageIndex", index); // 记录当前页面标题的显示状态
      },
      jumpProdetail: function(href, pageIdArr, index) {
        this.$router.push({
          name: href,
          query: {
            pageId: pageIdArr
          }
        });
        let proDetailData = this.proLists[index].dataJson; // 该商品的所有信息
        localStorage.setItem("proDetailData", proDetailData); // 设定该商品信息
      },
      addCart: function(title,number, productId, variants, price) {
        let _this = this;
        let e = event || window.event;
        let scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
        let scrollY = document.documentElement.scrollTop || document.body.scrollTop;
        let x = e.pageX || e.clientX + scrollX;
        let y = e.pageY || e.clientY + scrollY;
        x= x-10;
        y = y-10;
        this.ballLeft = x;
        this.ballTop = y;
        let ballInit = document.getElementById("product-ball");
        let ballBoxInit = document.getElementById("ball-box");
        ballInit.style.top = y+"px";
        ballInit.style.left = x+"px";
        ballBoxInit.style.top = (y-20)+"px";
        ballBoxInit.style.left = (x-20)+"px";
        if (variants.length > 0) {
          this.proModelShow = true; // 弹出提示框
          this.adds = variants; // 选项赋值
          price = parseFloat(price);
          this.productPrice = price; // 原价
          for (let i = 0; i < variants.length; i++) {
            let listOptions = variants[i].options; // 选项列表
            for (let j = 0; j < listOptions.length; j++) {
              let listState = listOptions[j].state; // 状态
              let listPrice = listOptions[j].price; // 价格
              if (listPrice) {
                listPrice = parseFloat(listPrice) / 1000;
              } else {
                listPrice = 0;
              }
              if (listState == true) {
                price += listPrice; // 价格
              }
            }
          }
          this.modelPricePro = price;
          this.modelPrice = this.moneyIcon + price; //价格
          this.modelNum = number;
          this.modelId = productId;
          this.proDeTitle = title;
        } else {
          localStorage.setItem("addCartState", "true");
          this.proModelShow = false;
          this.$refs.cartpage.recDetailInfo(number, productId, variants); // 添加商品
        }
      },
      cartAnminate(){
        let _this = this;
        let ball = document.getElementById("product-ball");
        let ballBoxInit = document.getElementById("ball-box");
        ballBoxInit.style.display = "block";
        ball.style.opacity = "1";
        ball.style.display = "block";
        ball.style.left = "6.7rem";
        ball.style.top = "0.7rem";
        ball.style.transform = "rotate(420deg)";
        setTimeout(function(){
            ball.style.display = "none";
        },350);
        setTimeout(function(){
            ball.style.display = "block";
            ball.style.opacity = "0";
            ball.style.left = _this.ballLeft+"px";
            ball.style.top = _this.ballTop+"px";
            ball.style.transform = "rotate(0deg)";
            ballBoxInit.style.display = "none";
        },370)
      },
      proModelCancel: function() {
        this.proModelShow = false;
      },
      changBtnAdd: function(objs, index1) {
        let optionsLen = objs.length; // 长度
        for (let i = 0; i < optionsLen; i++) {
          objs[i].state = false; // 赋值未选中
        }
        objs[index1].state = true; // 当前点击的赋值选中
        let priceListNum = this.productPrice; // 原价格
        for (let j = 0; j < this.adds.length; j++) {
          let addsListJson = this.adds[j].options; // 获取数组
          for (let k = 0; k < addsListJson.length; k++) {
            if (addsListJson[k].state == true) {
              let priceNum = parseFloat(addsListJson[k].price) / 1000;
              if (priceNum) {
                priceListNum += priceNum; // 价格
              }
            }
          }
        }
        this.modelPrice = this.moneyIcon + priceListNum; //价格
      },
      confirmFood: function() {
        let _this = this;
        this.proModelShow = false; // 关闭弹框
        let variantsArr = [];
        for (let i = 0; i < this.adds.length; i++) {
          let optionsArr = this.adds[i].options; //
          for (let j = 0; j < optionsArr.length; j++) {
            if (optionsArr[j].state == true) {
              variantsArr.push(parseFloat(optionsArr[j].proId));
            }
          }
        }
        if (this.modelId) {
          localStorage.setItem("addCartState", "true");
          this.$refs.cartpage.recDetailInfo(
            this.modelNum,
            this.modelId,
            variantsArr
          );
        }
        this.proModelShow = false;
      }
    },
    watch: {
      $route(to, from) {
        let newPageIdArrPro = this.$route.query.pageId; // 获取最新的路由地址
        let oldPageIdArrPro = localStorage.getItem("productLeave"); // 当前页面的路由地址
        if (newPageIdArrPro) {
          if (oldPageIdArrPro && oldPageIdArrPro != newPageIdArrPro) {
           this.$router.replace({
              path: 'product',
              query: {
                "pageId":newPageIdArrPro
              }
            })
            this.productLoad(); // 加载该页面信息
             this.mainC.width = "7.5rem"; // 主屏幕宽度
            $(".index-slider").fadeOut(1000); // 侧边栏隐藏
            $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
          }
        } else {
          this.$router.push({
            path: "/index"
          });
        }
      }
    },
    destroyed: function() {
      //离开页面时
      let productLeave = this.$route.query.pageId; // 获取当前页面上的pageID
      localStorage.setItem("productLeave", productLeave); // 存储产品信息
      // 清除整体订单的备注
      localStorage.setItem("wholeResText", "");
    }
  };
</script>
<style src="../css/product.scss" lang="scss" scoped>

</style>

