<template>
  <div>
    <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left"
            @click.stop="backIndex">
          <i class="iconfont icon-back1"></i>
        </li>
        <li class="header-li-middle">{{roomTitle}}</li>
      </ul>
    </div>
    <div class="roomTop clearBox">
      <div class="top-left">{{name}}</div>
      <div class="top-right">
        <span class="top-room">{{room}}</span>
        <span>{{roomNum}}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "roomTop",
  data() {
    return {
      name: "Model houses",
      room: "room",
      roomNum: "3327",
      roomTitle: ""
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    if (languageSet == "en") {
      this.name = "Mrs. Ye";
      this.room = "room";
      this.roomTitle = "Room Control";
    } else {
      this.name = "样板房";
      this.room = "房间";
      this.roomTitle = "房控";
    }
  },
  methods: {
    backIndex: function() {
      this.$router.push({ path: "/index" });
      localStorage.setItem("sliderIndex", null);
      // location.href = "https://junction.dev.havensphere.com/static/0086000007/rnwsh001/wechat/#/index"
    }
  }
};
</script>


<style>
.roomTop {
  float: left;
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  background: rgba(29, 28, 32, 1);
}
.top-left,
.top-right {
  float: left;
  width: 3.5rem;
  height: 0.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  color: #eaeaea;
  font-size: 0.3rem;
}
.top-left {
  margin-left: 0.2rem;
}
.top-right {
  margin-left: 0.1rem;
  text-align: right;
}
.top-room::after {
  content: ": ";
}
</style>
