.border-t1{
    border-top: 1px solid #C4C4C4;
}
.border-b1{
    border-bottom: 1px solid #C4C4C4;
}
.border-tb1{
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.ellipsis{
    text-overflow:ellipsis!important; 
    overflow:hidden!important;
    white-space:nowrap!important;
}
/* popup消息提示自定义样式 */
.van-popup{
    height: 1.28rem;
    line-height: 1.28rem;
    text-align: center;
    color: #ffffff;
    font-size: .36rem;
    z-index: 99999 !important;
}
.van-suc-popup{
    background-color: rgb(13,188,121) !important;
}
.van-err-popup{
    background-color: red !important;
}
