<template>
  <div class="index-slider">
    <div class="iphoneX-main"
         id="iphoneX-main-indexSlider">
      <div class="index-slider-top">
        <div class="slider-top-tt"
             @click="jumpIndex">
          <router-link to="">
            <img class="logo-img-src"
                 v-lazy="logoImgSrc"
                 :key="logoImgSrc" />
          </router-link>
        </div>
        <van-tabbar class="slider-top-ul">
          <van-tabbar-item :icon="sliderSet.icon"
                           class="slider-top-li"
                           :info="sliderSet.num"
                           v-for="(sliderSet,index) in sliderSets"
                           :key="index"
                           @click.stop="clickToHrefTo(sliderSet.href,index);">
            {{sliderSet.tt}}
          </van-tabbar-item>
        </van-tabbar>
      </div>
      <div class="index-slider-main">
        <ul class="index-slider-ul">
          <li class="index-slider-li"
              v-for="(sliderNav,index) in sliderNavs"
              :key="index">
            <div class="li-span"
                 @click.stop="clickToHref(sliderNav.href,sliderNav.query,sliderNav.tt,index);">
              <span><img class="li-img"
                     v-lazy="sliderNav.img"
                     :key="sliderNav.img" /></span>
              <span v-bind:class="{'sliderActive': sliderNav.state}">{{sliderNav.tt}}</span>
            </div>
          </li>

          <!-- <li class="index-slider-li">
            <router-link to="/light_chengdu">
              <div class="li-span">
                <span><img class="li-img"
                       data-src="../pages/room/images/room control.png"
                       src="../pages/room/images/room control.png"
                       lazy="loaded"></span>
                <span class="">{{roomControl}}</span></div>
            </router-link>
          </li> -->

        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "indexSlider",
  data() {
    return {
      logoImgSrc: "",
      icon: {
        normal: "cart1",
        active: "file"
      },
      sliderSets: [
        {
          icon: "cart",
          href: "cartShopping",
          num: "",
          tt: ""
        },
        {
          icon: "records",
          href: "orderListQuery",
          num: "",
          tt: ""
        },
        {
          icon: "chat",
          href: "messageList",
          num: "",
          tt: ""
        },
        {
          icon: "setting",
          href: "setting",
          num: "",
          tt: ""
        }
      ],
      sliderNavs: [],
      roomControl: "room control"
    };
  },
  mounted: function() {
    ////this.isIPhoneX("iphoneX-main-indexSlider","");   // iphoneX适配问题
    this.initLoading(); // 初始化显示状态
    this.sliderJosnLoad(); // 侧边栏数据加载
    this.cartPageLoad(); // 加载购物车的数据
    this.getMesNumLoad(); // 调取订单和消息的数据
    //增加房控功能
    let languageSet = localStorage.getItem("languageSet"); // 语言设置
    if (!languageSet) {
      languageSet = "en"; // 语言不存在的时候 默认为为英文
    }
    if (languageSet == "en") {
      this.roomControl = "room control";
    } else {
      this.roomControl = "房控系统";
    }
  },
  methods: {
    sliderJosnLoad: function() {
      let _this = this;
      let logoImgUrl = localStorage.getItem("logoImgURL"); // 获取logo的链接地址
      let logoImgSrc = "";
      if (logoImgUrl) {
        logoImgSrc = logoImgUrl;
        _this.logoImgSrc = logoImgUrl; // 获取logo
      }
      let indexSliderJson = localStorage.getItem("indexSliderJson"); // 设定
      let sliderNavsInit = [];
      if (indexSliderJson) {
        siliderFun3(indexSliderJson);
      }
      // slider  获取餐厅下的信息列表页的数据信息，获取每行对应的pageId的数据
      function siliderFun3(json) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let _this = this;
              let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
              let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
              let logoImgUrl = localStorage.getItem("logoImgURL"); // 获取logo的链接地址
              let restaurantId = localStorage.getItem("restaurantId"); // 获取restaurantId
              let countrySet = localStorage.getItem("countrySet"); // 国家设置
              let languageSet = localStorage.getItem("languageSet"); // 语言设置
              if (!languageSet) {
                languageSet = "en"; // 语言不存在的时候 默认为为英文
              }
              let logoImgSrc = "";
              if (logoImgUrl) {
                logoImgSrc = logoImgUrl;
              }
              let listData = sucss.data.data; // 获取所有的数据
              let sliderLen = listData.length; // 判断列表页的总长度
              let sliderNavArr = []; // 初始化列表页的总数据
              let sliderFPageIdArr = []; // 获取列表页的第一个数据
              for (let i = 0; i < sliderLen; i++) {
                let imgList = listData[i].categoryImage; // 获取icon 图标列表
                let imgUrlPageId = ""; // 初始化 图标的链接id值
                if (imgList) {
                  imgUrlPageId = imgList[0].internalImageId; // 图标列表存在，获取图片id值
                }
                let imgUrl = logoImgSrc; // 默认链接地址为logo
                if (allImagesObj) {
                  if (imgUrlPageId != "") {
                    imgUrl = allImagesObj[imgUrlPageId].remote_image_url; // 获取图片的链接
                  }
                }
                let infoListIdsArrS = listData[i].infoListIds; // 获取跳转页面之后的pageId数组；
                let nowPageId = listData[i].id; // 当前页面的id值
                let sliderPageIdFirst = []; // 默认为首页
                if (infoListIdsArrS) {
                  sliderPageIdFirst = infoListIdsArrS[0]; // 获取跳转页面之后的pageId数组的第一个
                  sliderFPageIdArr.push(sliderPageIdFirst); // pageId首个汇总
                  let listLanguage = listData[i].translates[languageSet].title; // 设置显示的语言
                  let listJson = {
                    href: "", // 链接地址
                    tt: listLanguage, // 显示的title
                    img: imgUrl, // 图片显示
                    query: infoListIdsArrS, // 传入数组
                    state: false // 显示选中的状态
                  };
                  sliderNavArr.push(listJson); // 数据汇总
                }
              }
              sliderNavsInit = sliderNavArr; // 数据赋值
              let jsonPageId = sliderFPageIdArr.join(","); // 转换成字符串
              siliderFun4(jsonPageId); // 调取批量获取接口
            }
          });
      }
      // 获取餐厅下的信息列表页的数据信息，获取跳转的页面的类型和页面类型的infoPageIds;
      function siliderFun4(json) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let listData = sucss.data.data; // 数据
              console.log(listData);
              let jumpHref = ""; // 初始化设置
              let arr = [];
              let lengthD = listData.length;
              for (let j = 0; j < listData.length; j++) {
                let jumpType = listData[j].subpage_type; // type类型
                if (jumpType) {
                  jumpHref = _this.getTypeHref(jumpType); //调取全局函数，获取链接地址
                  if (jumpHref) {
                    sliderNavsInit[j].href = jumpHref; // 替换链接地址
                  } else {
                    listData.splice(j, 1); // 链接为空，移除该列表
                    sliderNavsInit.splice(j, 1); // 链接为空，移除该列表
                    j--;
                  }
                } else {
                  sliderNavsInit[j].href = ""; // 替换链接地址
                  listData.splice(j, 1); // 链接为空，移除该列表
                  sliderNavsInit.splice(j, 1); // 类型不存在，移除
                  j--;
                }
              }
              _this.sliderNavs = sliderNavsInit; // 数据赋值
              let heightAll = _this.sliderNavs.length * 1.22 + "rem"; // 获取侧边栏的高度
              $(".index-slider-ul").css("height", heightAll); // 设定侧边栏导航的高度
              let sliderActive = localStorage.getItem("sliderActive");
              let sliderActiveIndex = localStorage.getItem("sliderActiveIndex");
              if (sliderActive && sliderActive == "true") {
                if (sliderActiveIndex) {
                  for (let i = 0; i < _this.sliderNavs.length; i++) {
                    _this.sliderNavs[i].state = false;
                  }
                  _this.sliderNavs[sliderActiveIndex].state = true;
                }
              }
            }
          });
      }
    },
    clickToHrefTo: function(href, index) {
      // 侧边栏头部四个图标
      if (index != "0") {
        let userLogin = localStorage.getItem("userLogin"); // 判断是否已经登录
        this.getIsAutoLogin(result => {
          //alert(result);
        });
        if (userLogin && userLogin == "true") {
          this.$router.push({
            path: href
          });
        } else {
          let pathRouter = "/";
          if (index == "1") {
            pathRouter = "/orderListQuery";
          } else if (index == "2") {
            pathRouter = "/messageList";
          } else if (index == "3") {
            pathRouter = "/setting";
          }
          localStorage.setItem("signRouter", pathRouter); // 设定登录成功之后跳转的路径
          this.$router.push({
            path: "/signIn"
          }); // =跳转到登录页面
        }
      } else {
        this.$router.push({
          path: href
        });
      }
    },
    clickToHref: function(href, pageIdArr, title, index) {
      // 侧边栏列表点击跳转链接
      if (href && pageIdArr) {
        localStorage.setItem("sliderTitle", title); // 设定标题名称
        for (let i = 0; i < this.sliderNavs.length; i++) {
          this.sliderNavs[i].state = false;
        }
        this.sliderNavs[index].state = true;
        localStorage.setItem("sliderActive", "true");
        localStorage.setItem("sliderActiveIndex", index);
        this.$router.push({
          name: href,
          query: {
            pageId: pageIdArr
          }
        });
      } else {
        this.$router.push({
          path: "/index"
        }); // 返回首页
      }
    },
    cartPageLoad: function() {
      // 调取购物车数量的接口，购物车商品列表接口
      let _this = this;
      _this.axios
        .get(
          "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/cart/size/?" +
            _this.$root.junAppName +
            ""
        )
        .then(
          function(sucss) {
            if (sucss.data.ret == "200") {
              let dataAllNum = sucss.data.data; // 购物车信息
              if (dataAllNum == "0") {
                dataAllNum = ""; // 购物车内无商品
              }
              _this.sliderSets[0].num = dataAllNum; // 给购物车信息赋值
              if (dataAllNum == 0) {
                _this.sliderSets[0].href = "cartEmpty"; //跳转空的购物车页面
              } else {
                _this.sliderSets[0].href = "cartShopping"; // 购物车有数据
              }
              _this.loading(); // 显示对应的数据
            }
          },
          function(err) {
            _this.sliderSets[0].num = ""; // 购物车数量赋值
            _this.sliderSets[0].href = "cartEmpty"; //跳转空的购物车页面
            _this.loading(); // 显示或者隐藏购物车内的数量
          }
        );
    },
    getMesNumLoad: function() {
      let _this = this;
      _this.axios
        .get(
          _this.$root.domainName +
            "/api/junctioncore/v1/customer/stats/?stats=num_unread_order_messages,num_pending_orders&" +
            _this.$root.junAppName +
            "",
          {}
        )
        .then(
          function(sucss) {
            if (sucss.data.ret == "200") {
              let dataNum = sucss.data.data;
              let orderNum = dataNum.num_pending_orders; //订单
              let MesNum = dataNum.num_unread_order_messages; //消息信息
              if (!orderNum || orderNum == "0" || orderNum == "") {
                orderNum = ""; // 订单为空
              }
              if (!MesNum || MesNum == "0" || MesNum == "") {
                MesNum = ""; //消息为空
              }
              _this.sliderSets[1].num = orderNum; // 给订单消息赋值
              _this.sliderSets[2].num = MesNum; // 给消息信息赋值
              _this.loading(); // 显示对应的数据
            }
          },
          function(err) {
            _this.sliderSets[1].num = ""; // 给订单消息赋值
            _this.sliderSets[2].num = ""; // 给消息信息赋值
            _this.loading(); // 显示对应的数据
          }
        );
    },
    getIsAutoLogin: function(callback) {
      // 获取存储再安卓/ios上的信息
      if (window.AndroidWebView) {
        var result = window.JS.getIsAutoLogin();
        callback(result);
      } else if (window.WebViewJavascriptBridge) {
        WebViewJavascriptBridge.callHandler("getIsAutoLogin", null, function(
          response
        ) {
          callback(response);
        });
      }
    },
    jumpIndex: function() {
      for (let i = 0; i < this.sliderNavs.length; i++) {
        this.sliderNavs[i].state = false;
      }
      localStorage.setItem("sliderActive", "false");
      this.$emit("indexState", "true"); // 设定首页状态
      this.$router.push({
        path: "/index"
      });
    },
    loading: function() {
      let leng = this.sliderSets.length; // 获取导航栏长度
      for (let i = 0; i < leng; i++) {
        let text = this.sliderSets[i].num; // 获取导航栏的提示信息
        if (text == 0 || text == "") {
          // 如果提示信息为0，不显示红色提示框
          $(".slider-top-li .van-icon__info")
            .eq(i)
            .css("display", "none");
        } else {
          // 如果提示信息不为0，显示红色提示框
          $(".slider-top-li .van-icon__info")
            .eq(i)
            .css("display", "block");
        }
        $(".slider-top-li .van-icon__info")
          .eq(3)
          .css("display", "none");
      }
    },
    initLoading: function() {
      let leng = this.sliderSets.length; // 获取导航栏长度
      for (let i = 0; i < leng; i++) {
        $(".slider-top-li .van-icon__info")
          .eq(i)
          .css("display", "none");
      }
    }
  }
};
</script>


<style>
.index-slider {
  float: left;
  width: 5.2rem;
  height: 100%;
  transition: width 0.5s;
  box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12, 34, 29, 0.5);
  display: none;
  background: linear-gradient(
    rgba(10, 35, 99, 0.7) 10%,
    rgba(0, 64, 152, 0.3) 100%
  );
}
.index-slider-top {
  float: left;
  width: 5.2rem;
  height: 2.8rem;
}
.index-slider-main {
  width: 5.2rem;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 3.8rem;
}
.slider-top-tt {
  float: left;
  margin-top: 1.2rem;
  width: 100%;
  height: 1.2rem;
}
.slider-top-tt .logo-img-src {
  height: 1.1rem;
  display: inline-block;
  vertical-align: middle;
}
.slider-top-ul {
  float: left;
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  z-index: 800;
  left: 0;
  top: 2.5rem;
  border: 0 solid rgba(0, 0, 0, 0);
}
[class*="van-hairline"]::after {
  border: 0 solid rgba(0, 0, 0, 0);
}
.slider-top-li {
  float: left;
  width: 16%;
  height: 0.6rem;
  margin: 0;
  margin: 0.35rem 4.5%;
  position: static;
}
.slider-top-li .iconfont {
  font-size: 0.48rem;
  line-height: 0.6rem;
}
.slider-top-li .van-tabbar-item__icon {
  font-size: 0.4rem;
  line-height: 0.4rem;
  color: #f4f4f4;
}
.index-slider-ul {
  width: 4.2rem;
  margin: 0 0.5rem 4rem 0.5rem;
  height: auto;
  padding: 0;
}
.index-slider-li {
  float: left;
  width: 100%;
  height: 1.2rem;
  line-height: 1.18rem;
  border-bottom: 0.02rem solid rgba(17, 52, 44, 0.8);
  text-align: left;
  font-size: 0.28rem;
  font-weight: lighter;
}
.index-slider-li .li-span {
  display: block;
}
.index-slider-li .sliderActive {
  color: #d2ac2b;
}
.index-slider-li .li-img {
  width: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.index-slider-span {
  height: 1.18rem;
}
.index-slider-li .iconfont {
  font-size: 0.48rem;
  font-weight: lighter;
  line-height: 1.18rem;
  padding: 0 0.1rem 0 0;
}
</style>
