.light {
  width: 100%;
  height: 100%;
  background: #131318;
  .main-content {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
    .scene-list {
      float: left;
      width: 100%;
      height: auto;
      //   margin-top: 0.3rem;
      .ul-title {
        color: #fff;
        font-weight: 300;
        font-size: 0.36rem;
        height: 0.8rem;
        line-height: 0.8rem;
        width: 100%;
        display: none; // 成都样板房
        .title-dot {
          font-size: 0.36rem;
          font-weight: 900;
        }
      }
      .main-con-ul {
        float: left;
        width: 100%;
        height: auto;
        .main-li {
          float: left;
          width: 49%;
          height: 2.16rem;
          background: #404147;
          margin-top: 0.15rem;
          line-height: 1.08rem;
          color: rgba(255, 255, 255, 0.5);
          text-align: left;
          box-sizing: border-box;
          padding-left: 3%;
          text-align: center;
          .li-icon {
            float: left;
            width: 100%;
            height: 1rem;
            margin-top: 0.3rem;
            line-height: 1rem;
            .iconfont {
              font-size: 0.6rem;
              opacity: 0.7;
            }
          }
          .li-text {
            float: left;
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
          }
        }

        .li-right {
          margin-right: 2%;
        }
        .li-active {
          background: #af9027;
          color: #fff;
          .li-icon {
            float: left;
            .iconfont {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
