.scene {
  width: 100%;
  height: 100%;
  background: #131318;
  .main-content {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
    .scene-list {
      float: left;
      width: 100%;
      height: auto;
      margin-top: 0.3rem;
      .ul-title {
        color: #fff;
        font-weight: 300;
        font-size: 0.36rem;
        height: 0.8rem;
        line-height: 0.8rem;
        width: 100%;

        .title-dot {
          font-size: 0.36rem;
          font-weight: 900;
        }
      }
      .main-con-ul {
        float: left;
        width: 100%;
        height: auto;
        .main-li {
          float: left;
          width: 49%;
          height: 1.08rem;
          background: #404147;
          margin-top: 0.15rem;
          line-height: 1.08rem;
          color: rgba(255, 255, 255, 0.5);
          text-align: left;
          box-sizing: border-box;
          padding-left: 3%;
          display: flex;
          align-items: center;
          .iconfont {
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0.1rem;
          }
        }
        .li-right {
          margin-right: 2%;
        }
        .li-active {
          background: #af9027;
          color: #fff;
          .iconfont {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
