.proListDetail{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    
    .product-main{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }
    .product-mianly{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }
    .proDetail-main{
        float:left;
        width: 100%;
        height: 5rem;
        margin: 0 0 0.5rem 0;
        background: green;
    }
    .proDetail-main-top{
        float:left;
        width: 7.5rem;
        height:5.625rem;
        overflow: hidden;
    }
    .proDetail-img{
        width: 7.5rem;
        height:5.625rem;
        img{
            width: 7.5rem;
            height:5.625rem;
        }
    }

    .proDetail-main-des{
        float:left;
        width: 6.82rem;
        height: auto;
        margin: 0 0.34rem 0.3rem 0.34rem;
        .des-li{
            float:left;
            width:100%;
            height: auto;
            border-top: 0.001rem solid rgba(110, 110, 110,1);
            overflow: hidden;
        }
        .des-tt{
            height: 1.2rem;
            line-height:1.2rem;
            border-top:0;
        }
        .des-num{
            height: 1.2rem;
            line-height:1.2rem;
        }
        .des-tt-name{
            float:left;
            width: auto;
            height: auto;
            font-size: 0.40rem;
        }
        .des-tt-price{
            float:right;
            width: auto;
            font-size: 0.48rem;
            color: #D2AC2B;
            letter-spacing: 0.47px;
            font-weight: normal;
            height: auto;
        }
        .des-tt-btn{
            width: 1.8rem;
            height: 0.6rem;
            line-height: 0.6rem;
            background: #D2AC2B;
            border-radius: 0.08rem;
            color:#f4f4f4;
            font-size: 0.28rem;
            border:0;
            font-weight: lighter;
        }
        .des-tt-span{
            padding:0 0.05rem;
            font-size: 0.32rem;
            .iconfont{
                font-size: 0.44rem;
                color: #D2AC2B;
            }
            .des-tt-number{
                font-size: 0.36rem; 
            }
        }
        .des-li-desTt{
            text-align: left;
            font-weight: lighter;
            line-height: 0.6rem;
            font-size: 0.32rem;
            padding:0.1rem 0;
        }
        .des-li-p{
            text-align: left;
            line-height: 0.4rem;
            font-size: 0.32rem;
            padding-bottom:0.2rem;
            word-break: break-all;
            font-weight: normal;
            text-indent: 0.32rem;
            .icon-location{
                color:#D2AC2B;
            }
            h1,h2,h3,h4,h5,p{
                font-weight: normal;
                font-size: 0.32rem;
                text-indent: 0.64rem;
            }
           
        }
        .des-recommend{
            float:left;
            width:6.93rem;
            height:2.58rem;
        }
        .des-red-li{
            float:left;
            width:2.2rem;
            height:2.38rem;
            margin-right:0.11rem;
            background: rgba(12,34,29,0.5);
            .li-img{
                float:left;
                width: 2.2rem;
                height: 1.65rem;
                overflow: hidden;
            }
            .li-images{
                margin: auto;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 1.65rem;
                display: table-cell; //主要是这个属性
                vertical-align: middle;
                text-align: center;
            }
            .li-tt{
                float:left;
                width:2.2rem;
                text-align: left;
                line-height: 0.45rem;
                margin: 0.1rem 0 0 0;
            }
            .li-tt-title, .li-tt-des{
                font-weight: lighter;
                font-size: 0.28rem;
                color: #F4F4F4; 
                padding:0 0.05rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .li-tt-des{
                color: #CACACA;
                font-size: 0.24rem;
            }
           
        }
    }
}

