.cartShopping{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .cartShopping-main{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        border-top:0.12rem solid rgba(10,35,99,1);
    }
    .cartShopping-mianly{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-bottom:1.26rem;
        overflow: auto;
        background: #fff;
        .list{
            float:left; 
            width:100%; 
            height:auto;
             background:#fff; 
             margin-bottom:2rem; 
             color:#000;
             overflow: auto;
             .list-ul{
                 float:left;
                 width:100%;
                 height: auto;
                 .list-li{
                    float:left;
                    width:100%;
                    height:auto;
                    border-bottom:0.01rem solid #c4c4c4;
                    .list-li-btn{
                        float:left;
                        width:0.8rem;
                        height:1.8rem;
                        color:#000;
                        line-height: 1.8rem;
                        .icon-none{
                            color:#000;
                            font-size:0.40rem;
                        }
                        .icon-state1{
                            color:#D2AC2B;
                            font-size:0.40rem;
                        }
                        .icon-choice{
                            color:#D2AC2B;
                            font-size:0.40rem;
                        }
                    }
                    .list-li-main{
                        float:left;
                        width:6.5rem;
                        height: auto;
                    }
                    .li-mian-top{
                        float:left;
                        width:100%;
                        height: 1.8rem;
                        padding:0.16rem 0;
                        .img{
                            float:left;
                            width:1.92rem; 
                            height: 1.44rem;
                            overflow: hidden;
                            border: 0.01rem solid #ccc;
                            .imgSrc{
                                width:1.92rem; 
                                height: 1.44rem;  
                            }
                           
                        }
                        .li-des{
                            float:left;
                            margin: 0 0.1rem;
                            width:4.18rem;
                            height: 1.44rem;
                            .li-des-li{
                                float:left;
                                width:100%;
                                height: 0.48rem;
                                line-height: 0.48rem;
                                font-size:0.32rem;
                                text-align: left;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                .name{
                                    float:left;
                                    display: block;
                                    width:2.5rem;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    .iconNum{
                                        padding:0 0.2rem;
                                    }
                                    .iconfont{
                                        color:#D2AC2B;
                                    }
                                }
                                .price{
                                    float:right;
                                    text-align: right;
                                    display: block;
                                    color:#000;
                                    .iconfont{
                                        color:#000;
                                        padding:0 0 0 0.2rem;
                                    }
                                }
                                .li-p{
                                    font-size: 0.24rem;;
                                    color: #8A8A8A; 
                                }
                                
                            }

                        }
                    }
                    .li-mian-note{
                        float:left;
                        width:6.5rem;
                        height: 0.92rem;
                        margin: 0.1rem 0;
                        text-align: left;
                        border:0.01rem solid #ccc;
                        .li-textarea{
                            float:left;
                            width:6.4rem;
                            height:0.82rem;
                            resize: none;
                            margin:0.05rem;
                            line-height: 0.41rem;
                            border:0;
                            font-size: 0.24rem;
                            box-sizing: border-box;
                            color:#4a4a4a;

                        }
                        .li-textarea:focus {
                            outline: none;
                        }
                    }
                    .li-main-note1{
                        float:left;
                        width:6.5rem;
                        height: 0.46rem;
                        line-height: 0.46rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: left;
                        color: #9B9B9B;
                    }
                 }
             }
             .list-total{
                 float:left;
                 width:100%;
                 height: 1rem;
                 line-height: 1rem;
                 text-align: right;
                 font-size: 0.32rem;
                 font-weight: normal;
                 border-bottom:0.01rem solid #c4c4c4;
                 .total-money{
                     padding:0 0.3rem 0 0.2rem;
                     color: #D2AC2B;
                 }
             }
             .list-des-box{
                 float:left;
                 width:7rem;
                 height: 2.5rem;
                 text-align: left;
                 margin: 0 0.25rem;
                 .list-des-tt{
                    line-height: 0.6rem;
                    font-size: 0.32rem;
                    color: #8A8A8A;
                    font-weight: lighter;
                 }
                 .li-des-textarea{
                    float:left;
                    width:100%;
                    height:1.4rem;
                    padding:0.05rem;
                    resize: none;
                    line-height: 0.4rem;
                    font-size: 0.24rem;
                     color: #4a4a4a;
                     border:1px solid #c4c4c4;

                 }
                 .li-des-textarea:focus {
                    outline: none;
                }
             }
        }
          
    }

    .cartModel{
        position:absolute; 
        z-index:501;
         width:100%; 
         height:100%; 
         background:rgba(0,0,0,0.5);
         animation: fade-in 4s;
         .cartModel-content{
            width:6.8rem; 
            height:5.5rem; 
            background: #FCFCFC; 
            left:50%; 
            top:50%; 
            position:absolute; 
            margin-left:-3.4rem;
            margin-top:-2.65rem; 
            border-radius:0.24rem;
            overflow: auto;
            .cartModel-close{
                float:left;
                width:6.5rem;
                height: 0.5rem;
                line-height: 0.5rem;
                text-align: right;
                margin-top: 0.2rem;
                .iconfont{
                    font-size:0.4rem;
                    color:#6a6a6a;
                }

            }
            .cartModel-ul{
                float:left;
                width:6.8rem;
                height:4.8rem;
                .cartModel-li{
                    float:left;
                    width:6rem;
                    height: 0.9rem;
                    background: #d2ac2b;
                    border:0.01rem solid #ccc;
                    border-radius: 0.1rem;
                    margin:0.5rem 0.4rem 0 0.4rem;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 0.8rem;
                }
            } 
         }  
         .cartModelRoomNum{
             height: 6rem;
             margin-top: -3rem;
             .cartModel-input-box{
                 float: left;
                 width:6rem;
                 height: 3.2rem;
                 margin:  0.5rem 0.4rem;
                 .cartModel-input-li{
                    width:6rem;
                    height: 0.9rem;
                    margin: 0.1rem 0;
                    .cartModel-input{
                        float:left;
                        width:5.9rem;
                        height: 0.8rem;
                        border:0.02rem solid #ccc;
                        box-sizing: border-box;
                        padding:0 0.05rem;
                    }
                    .inputCart-country{
                        float:left;
                        width:1.9rem;
                        height: 0.8rem;
                        margin: 0;
                        margin-right: 0.05rem;
                        border:0.02rem solid #ccc;
                        padding:0 0.05rem;
                    }
                    .inputCart-mobile{
                        float:left;
                        width:3.65rem;
                        height: 0.8rem;
                        border:0.02rem solid #ccc;
                        padding:0 0.05rem;
                    }
                }
                
             }
             .roomNumBtn{
                margin: auto;
                width:6rem;
                height: 0.9rem;
                background: #d2ac2b;
                border:0.01rem solid #ccc;
                border-radius: 0.1rem;
                font-size:0.32rem;
                color:#F4F4F4;
            }
         }
    }
   
    

   
    
}

