<template>
  <div class="roomCommon light">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <div class="main-content clearBox">
            <div class="scene-list" v-for="(scene,index) in scenes" :key="index">
               <!-- <h3 class="ul-title">
                <span class="title-dot">·</span>
                <span>{{scene.title}}</span>
                <span class="title-dot">·</span>
              </h3> -->
              <ul class="main-con-ul clearBox">
                <li class="main-li" v-bind:class="{'li-right':item.right, 'li-active':item.state}" 
                v-for="(item,index1) in scene.items" :key="index1" @click.stop="controlLight(index,index1)">
                  <div class="li-icon"><i class="iconfont" v-bind:class="item.icon"></i></div>
                  <div class="li-text">{{item.text}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
import { setTimeout } from "timers";
export default {
  name: "light",
  components: {
    RoomTop,
    RoomSlider
  },
  data() {
    return {
      scenes: [
        {
          // title:"Bedroom",
          items: [
            {
              text: "Master Off",
              icon: "icon-masteroff",
              state: false,
              right: true,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "7"
            },
            {
              text: "Room",
              icon: "icon-light",
              state: false,
              right: false,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "2"
            },
            {
              text: "Entrance",
              icon: "icon-light",
              state: false,
              right: true,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "1"
            },
            {
              text: "Bathroom",
              icon: "icon-light",
              state: false,
              right: false,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "6"
            },
            {
              text: "Bed L",
              icon: "icon-light",
              state: false,
              right: true,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "4"
            },
            {
              text: "Bed R",
              icon: "icon-light",
              state: false,
              right: false,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "5"
            },
            {
              text: "LED",
              icon: "icon-light",
              state: false,
              right: true,
              open: "100",
              close: "0",
              CardNo: "1",
              ChannelNo: "3"
            }
          ]
        }
        // {
        //   title:"Washroom",
        //   items:[
        //     {text:"Master Heading", icon:"icon-light", state:true,  right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Lens Heading", icon:"icon-light", state:false,  right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Reading", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Ceiling", icon:"icon-light", state:false, right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Light Belt", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Tube Lamp", icon:"icon-light", state:false, right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
        //     {text:"Toilet Lamp", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"}
        //   ]
        // }
      ]
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    this.replace(languageSet);
  },
  methods: {
    replace: function(lang) {
      let arrItems1 = [
        {
          // title:"Bedroom",
          items: [
            "Master Off",
            "Room",
            "Entrance",
            "Bathroom",
            "Bed L",
            "Bed R",
            "Room",
            "LED"
          ]
        }
        // {
        //   title:"Washroom",
        //   items:[
        //     "Master Lamp","Lens Heading", "Reading",  "Ceiling",
        //     "Light Belt", "Tube Lamp", "Toilet Lamp"
        //   ]
        // }
      ];
      let arrItems2 = [
        {
          // title:"卧室",
          arr: [
            "总开关",
            "房灯",
            "廊灯",
            "卫浴灯",
            "左床头灯",
            "右床头灯",
            "灯带"
          ]
        }
        // {
        //   title:"盥洗室",
        //   arr:["总开关","镜头标题", "阅读",  "天花板", "灯带", "管灯", "卫生间灯"]
        // }
      ];
      let arrItems = [];
      if (lang == "en") {
        arrItems = arrItems1;
      } else {
        arrItems = arrItems2;
      }
      for (let i = 0; i < arrItems.length; i++) {
        this.scenes[i].title = arrItems[i].title;
        for (let j = 0; j < this.scenes[i].items.length; j++) {
          this.scenes[i].items[j].text = arrItems[i].arr[j];
        }
      }
    },
    // 开关控制
    controlLight: function(index, index1) {
      let state = this.scenes[index].items[index1].state;
      let that = this;
      let rcuApiServer = this.$root.rcuApiServer;
      if (state == true) {
        //当总控关的时候，全部灯的状态都灭。
        if (
          this.scenes[index].items[index1].CardNo == 1 &&
          this.scenes[index].items[index1].ChannelNo == 7
        ) {
          for (let i = 0; i < this.scenes.length; i++) {
            for (let j = 0; j < this.scenes[i].items.length; j++) {
              this.scenes[i].items[j].state = false;
            }
          }
        }

        this.scenes[index].items[index1].state = false;
        this.axios
          .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
            hex:
              this.$root.RCA +
              this.scenes[index].items[index1].CardNo +
              this.$root.RCB +
              this.scenes[index].items[index1].ChannelNo +
              this.$root.RCC +
              this.scenes[index].items[index1].close +
              this.$root.RCD
          })
          .then(function(sures) {
            // alert("done")
            console.log("上传成功", sures);
          })
          .catch(function(sures) {
            // alert("done")
            console.log("上传失败", sures);
          });
      } else {
        //当总控关的时候，全部灯的状态都亮。
        if (
          this.scenes[index].items[index1].CardNo == 1 &&
          this.scenes[index].items[index1].ChannelNo == 7
        ) {
          for (let i = 0; i < this.scenes.length; i++) {
            for (let j = 0; j < this.scenes[i].items.length; j++) {
              this.scenes[i].items[j].state = true;
            }
          }
        }
        this.scenes[index].items[index1].state = true;
        this.axios
          .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
            hex:
              this.$root.RCA +
              this.scenes[index].items[index1].CardNo +
              this.$root.RCB +
              this.scenes[index].items[index1].ChannelNo +
              this.$root.RCC +
              this.scenes[index].items[index1].open +
              this.$root.RCD
          })
          .then(function(sures) {
            // alert("done")
            console.log("上传成功", sures);
          })
          .catch(function(sures) {
            // alert("done")
            console.log("上传失败", sures);
          });
      }

      // setTimeout(() => {
      //   this.scenes[index].items[index1].state = false;
      // }, 200);
    }
  },
  destroyed: function(index) {}
};
</script>


<style src="../css/light.scss" lang="scss" scoped>
</style>


