<template>
  <div class="roomCommon light">
    <room-top></room-top>
    <div class="roomCommon-con">
      <room-slider></room-slider>
      <div class="roomCommon-main clearBox">
        <div class="main-content clearBox">
          <div class="scene-list"
               v-for="(scene,index) in scenes"
               :key="index">
            <h3 class="ul-title">
              <span class="title-dot">·</span>
              <span>{{scene.title}}</span>
              <span class="title-dot">·</span>
            </h3>
            <ul class="main-con-ul clearBox">
              <li class="main-li"
                  v-bind:class="{'li-right':item.right, 'li-active':item.state}"
                  v-for="(item,index1) in scene.items"
                  :key="index1"
                  @click.stop="controlLight(index,index1)">
                <div class="li-icon"><i class="iconfont"
                     v-bind:class="item.icon"></i></div>
                <div class="li-text">{{item.text}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
export default {
  name: "light",
  components: {
    RoomTop,
    RoomSlider
  },
  data() {
    return {
      scenes: [
        {
          title: "Bedroom",
          items: [
            {
              text: "总开关",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F50AFFFE006400A0",
              close: "F50AFFFE006400A0"
            },
            {
              text: "夜灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F50EFFFE0064009C",
              close: "F50EFFFE0064009C"
            },
            {
              text: "廊灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F502FFFE006400A8",
              close: "F502FFFE006400A8"
            },
            {
              text: "客厅吊灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F507FFFE006400A3",
              close: "F507FFFE006400A3"
            },
            {
              text: "客厅射灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F508FFFE006400A2",
              close: "F508FFFE006400A2"
            },
            {
              text: "书桌射灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F509FFFE006400A1",
              close: "F509FFFE006400A1"
            },
            {
              text: "射灯灯带",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F50BFFFE0064009F",
              close: "F50BFFFE0064009F"
            },

            {
              text: "床头吊打",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F50FFFFE0064009B",
              close: "F50FFFFE0064009B"
            },

            {
              text: "左床头灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F50CFFFE0064009E",
              close: "F50CFFFE0064009E"
            },
            {
              text: "右床头灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F50DFFFE0064009D",
              close: "F50DFFFE0064009D"
            },
            {
              text: "餐厅灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F510FFFE0064009A",
              close: "F510FFFE0064009A"
            },
            {
              text: "吧台灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F511FFFE00640099",
              close: "F511FFFE00640099"
            },
            {
              text: "台灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F51BFFFE0264008D",
              close: "F51BFFFE0264008D"
            },
            {
              text: "落地灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F51BFFFE0164008E",
              close: "F51BFFFE0164008E"
            }
          ]
        },
        {
          title: "盥洗室",
          items: [
            {
              text: "排气扇",
              icon: "icon-light",
              state: true,
              right: true,
              open: "F504FFFE006400A6",
              close: "F504FFFE006400A6"
            },
            {
              text: "镜前灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F506FFFE006400A4",
              close: "F506FFFE006400A4"
            },
            {
              text: "射灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "F503FFFE006400A7",
              close: "F503FFFE006400A7"
            },
            {
              text: "灯带",
              icon: "icon-light",
              state: false,
              right: false,
              open: "F505FFFE006400A5",
              close: "F505FFFE006400A5"
            }
          ]
        }
      ]
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    this.replace(languageSet);
  },
  methods: {
    replace: function(lang) {
      let arrItems1 = [
        {
          title: "Bedroom",
          items: [
            "Master switch",
            "Night light",
            "Corridor lights",
            "Droplight",
            "Spotlights in the living room",
            "Desk lamp ",
            "Spotlights ",
            "Bedside lamp ",
            "Left bedside lamp",
            "Right bedside light",
            "Dining room lights",
            "Bar lamp ",
            "Table lamp",
            "Floor light"
          ]
        },
        {
          title: "Washroom",
          items: ["Fans", "Lens Heading", "Tube Lamp", "Light Belt"]
        }
      ];
      let arrItems2 = [
        {
          title: "客厅",
          arr: [
            "总开关",
            "夜灯",
            "廊灯",
            "吊灯",
            "客厅射灯",
            "书桌射灯",
            "射灯灯带",
            "床头吊灯",
            "左床头灯",
            "右床头灯",
            "餐厅灯",
            "吧台灯",
            "台灯",
            "落地灯"
          ]
        },
        {
          title: "盥洗室",
          arr: ["排气扇", "镜前灯", "卫生间射灯", "卫生间灯带"]
        }
      ];
      let arrItems = [];
      if (lang == "en") {
        arrItems = arrItems1;
      } else {
        arrItems = arrItems2;
      }
      for (let i = 0; i < arrItems.length; i++) {
        this.scenes[i].title = arrItems[i].title;
        for (let j = 0; j < this.scenes[i].items.length; j++) {
          this.scenes[i].items[j].text = arrItems[i].arr[j];
        }
      }
    },
    // 开关控制
    controlLight: function(index, index1) {
      let state = this.scenes[index].items[index1].state;
      let that = this;
      let rcuApiServer = that.$root.rcuApiServer;
      this.scenes[index].items[index1].state = true;
      setTimeout(() => {
        this.scenes[index].items[index1].state = false;
      }, 200);
      let datas =
        that.$root.roomControlA +
        this.scenes[index].items[index1].open +
        that.$root.roomControlB;
      console.log(this.scenes[index].items[index1].open);
      this.axios
        .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
          hex: datas
        })
        .then(function(sures) {
          console.log("发送成功", sures);
        })
        .catch(function(catchres) {
          console.log("发送失败", catchres);
        });
    }
  },
  destroyed: function(index) {}
};
</script>


<style src="../css/light.scss" lang="scss" scoped>
</style>


