<template>
  <div class="roomCommon home">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <!-- <div class="main-top">
            <div class="top-btn">
              <div class="btn-li" v-for="(temp,index) in temps" 
              :key="index" v-bind:class='{"btn-active":temp.state}' @click.stop="tempChange(index)">{{temp.text}}</div>
            </div>
            <div class="top-tempList">
              <div class="temp-li" v-for="(tempNum,index) in tempNums" :key="index">
                <div class="temp-box">
                  <div class="temp-li-num">
                    <span><i class="iconfont icon-shineiwenduji"></i></span>
                    <span>{{tempNum.num}}</span><sup>{{tempNum.icon}}</sup>
                  </div>
                  <div class="temp-li-text">{{tempNum.text}}</div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="main-content clearBox">
            <ul class="main-con-ul clearBox">
              <li class="main-li" v-bind:class="{'li-right':item.right, 'li-active':item.state}" 
              v-for="(item,index) in items" :key="index" @click.stop="controlLight(index)">
                <h3 class="li-icon"><i class="iconfont" v-bind:class="item.icon"></i></h3>
                <h5 class="li-text">{{item.text}}</h5>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "home",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        // temps:[
        //   {text:"℃", state:true},
        //   {text:"℉", state:false},
        // ],
        // tempNums:[
        //   {num:28,icon:"℃",text:"Room Temp."},
        //   {num:33,icon:"℃",text:"Outdoor Temp."}
        // ],
        items:[       
         
          {text:"DND", icon:"icon-dnd", state:false, right:true,  open:"100", close:"0",CardNo:"3",ChannelNo:"5"},
          {text:"MUR", icon:"icon-mur", state:false, right:false,  open:"100", close:"0",CardNo:"3",ChannelNo:"3"},
          {text:"Checking out", icon:"icon-checkout", state:false, right:true,  open:"100", close:"0",CardNo:"3",ChannelNo:"4"}
          
        ]
      };
    },
    mounted: function() {
       let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }

        let arr1 = ["DND","MUR","Checking out"];
        let arr2 = ["勿扰","清扫","退房"];
        let arr = [];
        if (languageSet == "en") {// 英文状态
     
          arr = arr1;
        }
        if (languageSet == "zh-cn") { // 中文状态
     
           arr = arr2;          
        }

        for(let i=0; i<arr.length; i++){
            this.items[i].text = arr[i];
        }

    },
    methods: {
       
      // 开关控制
      controlLight: function(index){
        let state = this.items[index].state;
         let rcuApiServer = this.$root.rcuApiServer;
         let that = this;
        if(state == true){
          this.items[index].state = false;
          if(index == "5"){
             this.items[index].icon = "icon-doorlock";
          }


         let sendData =  {"hex": that.$root.RCA+ this.items[index].CardNo +that.$root.RCB + this.items[index].ChannelNo +that.$root.RCC + this.items[index].close +that.$root.RCD};
           
           
           this.axios.post(
              rcuApiServer + '/rcu/?service=rc.push_dalitak',sendData              
            )
					.then(function(sures) { console.log(sures);
						console.log("上传成功",sures) })
          .catch(function(catchres) { console.log(catchres);
          console.log("asasasasa");
						console.log("上传失败",catchres) }) 
        }else{
          this.items[index].state = true;
          if(index == "5"){
             this.items[index].icon = "icon-opensuccess";
          }

          let sendData =  {"hex": that.$root.RCA+ this.items[index].CardNo +that.$root.RCB + this.items[index].ChannelNo +that.$root.RCC + this.items[index].open +that.$root.RCD};
           this.axios.post(
           rcuApiServer + '/rcu/?service=rc.push_dalitak',sendData           
           )
					.then(function(sures) { console.log(sures);
						console.log("上传成功",sures) })
          .catch(function(catchres) { console.log(catchres);
          console.log("asasasasa");
						console.log("上传失败",catchres) }) 
        }

       

      }
    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/home.scss" lang="scss" scoped>

</style>


