<template>
  <div class="orderListQuery">
      <div class="orderList-main clearFix">
        <ul class="orderList-main-tt">
          <li class="orderList-tt-li" v-for="(orderTt, index) in orderTts" :key="index" v-bind:class="{'orderList-tt-active':orderTt.state}" @click="changeOrderList(index)">
            {{orderTt.title}}
          </li>
        </ul>
        <div class="orderList-mainly" v-bind:class="{'orderListBg':orderdataLeng}" id="orderScroll">
          <ul class="orderList-list clearFix" v-show="!orderdataLeng" >
            <li class="orderList-li" v-for="(orderListItem,index) in  orderListItems" :key="index">
              <ul class="orderList-box clearFix">
                <li class="orderList-box-li">
                  <span class="box-li-tt">{{orderListItem.title}}</span>
                  <span class="box-li-payState">{{orderListItem.payState}}</span>
                </li>
                <li class="orderList-box-li orderBox-border" @click="jumpOrderDetail(index)">
                  <div class="orderList-boxs">
                    <div class="box-li-images" v-for="(orderListImage,index) in orderListItem.orderListImages" :key="index">
                      <img class="li-orderImages" v-lazy="orderListImage.src" />
                    </div>
                  </div>
                </li>
                <li class="orderList-box-li orderBox-border">
                  <div class="orderList-order-num">
                    <span class="order-num-tt">{{orderNumText}}<span class="tt-span1">{{orderListItem.orderNum}}</span>
                    </span>
                    <span class="order-num-total">{{orderTotalItems}}<span class="tt-span2">{{orderListItem.orderAmount}}</span>
                    </span>
                  </div>
                  <div class="orderList-order-num">
                    <span class="order-num-tt">{{orderTimeTtext}}<span class="tt-span1"> {{orderListItem.orderTime}}</span>
                    </span>
                    <span class="order-num-total"> {{orderTotalPay}}<span class="tt-span2">{{orderListItem.orderMoney}}</span>
                    </span>
                  </div>
                   <div class="orderList-order-num">
                      <span class="order-num-tt">{{deliverTimeText}}<span class="tt-span1"> {{orderListItem.deliverTime}}</span>
                      </span>
                    </div>
                    <div class="orderList-order-num order-list-note" v-show="orderListItem.orderNoteShow">
                      <span class="order-num-tt">{{orderNoteText}}<span class="tt-span1"> {{orderListItem.orderNote}}</span></span>
                    </div>
                </li>
              </ul>
            </li>
            <li class="orderList-loading" v-show="dataLoadShow">{{dataLoadingText}}</li>
          </ul>
          <div class="order-list-none" v-show="orderdataLeng">{{orderListNone}}</div>
        </div>
      </div>
      <div class="common-left-icon">
        <div class="common-bottom-left" @click="jumpIndex">
          <i class="iconfont icon-back1"></i>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: "setting",
    data() {
        return {
        orderListQueryTt: "orderListQuery",
        orderTts: [
          {
            title: "Unpaid",
            state: true
          },
          {
            title: "Pending",
            state: false
          },
          {
            title: "processing",
            state: false
          },
          {
            title: "Done",
            state: false
          },
          {
            title: "All",
            state: false
          }
        ],
        moneyImgIcon: "￥",
        orderNumText: "", // 订单号
        orderTotalItems: "", // 该订单的有几种商品
        orderTimeTtext: "", // 订单时间
        deliverTimeText:"",//送达时间
        orderTotalPay: "", // 订单总付款
        orderListItems: [], // 订单显示
        orderNoteText:"",//备注
        orderNoteShow:"",
        languageSetShow: "en", //语言状态
        orderListAll: [], // 所有订单数据汇总
        orderdataLeng: false, // 订单列表的背景颜色
        orderListNone: "", // 没有订单
        initOrderListData:[],// 全部订单的数据
        initUnpaidData: [], // 未付款的订单
        initPendingData: [], // 未处理的订单
        initProcessingData: [], // 进行中的订单
        initCompletedData: [], // 已经完成的订单
        initOrderListAllData: [], // 所有订单数据汇总
        maxOrderPage:1, //最大页码
        nowOrderPage:1,// 当前页码
        setOrderState:false, // 状态
        dataLoading:"加载中……",
        dataLoadShow:false,
        dataBottom:"到底部了",
        orderListType:"", // 类型
        pageIndexNum:0,
        dataLoadingText:""
      };
    },
    mounted: function() {
      let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
      if (!moneyImg) {
        moneyImg = "￥"; // 获取符号不存在时，默认为人民币
      }
      this.moneyImgIcon = moneyImg;
      this.orderListQueryLoad();
      window.addEventListener('scroll', this.handleScroll,true); // 监听滚轮滚动事件
    },
    methods: {
      orderListQueryLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        this.languageSetShow = languageSet; // 设定语言的状态
         if (languageSet == "en") {
          let orderTtReEng = [
            "Unpaid",
            "Pending",
            "Processing",
            "Done",
            "All"
          ];
          this.replaceTitle(this.orderTts, orderTtReEng);
          this.orderListQueryTt = "Order List";
          this.orderNumText = "Order Number: "; // 订单号
          this.orderTotalItems = "Total Items: "; // 该订单的有几种商品
          this.orderTimeTtext = "Order Time: "; // 订单时间
          this.deliverTimeText = "Deliver Time:"; // 送达时间
          this.orderTotalPay = "Amount: "; // 订单总付款
          this.orderListNone = "You have no relevant orders"; // 您没有相关订单
          this.dataLoading = "Loading…"; // 加载中…
          this.dataBottom = "In the end";  // 到底部了
          this. orderNoteText="Note:";//备注
        } else {
          let orderTtReCh = ["未付款", "待处理", "处理中", "已完成","全部"];
          this.replaceTitle(this.orderTts, orderTtReCh);
          this.orderListQueryTt = "订单列表";
          this.orderNumText = "订单号："; // 订单号
          this.orderTotalItems = "商品数量："; // 该订单的有几种商品
          this.orderTimeTtext = "订单时间："; // 订单时间
          this.deliverTimeText = "送达时间："; // 送达时间
          this.orderTotalPay = "总付款："; // 订单总付款
          this.orderListNone = " 您没有相关订单"; // 您没有相关订单
          this.dataLoading = "加载中…";
          this.dataBottom = "到底部了";
          this. orderNoteText="备注：";//备注
        }
        this.orderListsQ("1",0);
      },
      orderListsQ: function(pageNum,pageIndex) {
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let _this = this;
        _this.axios
          .get(
            // 获取订单接口
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_order/?" +
            _this.$root.junAppQuery +
            _this.$root.junAppName +"&type=order&page_size=25&page="+pageNum+
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                console.log("sucss",sucss);
                let orderListArr = sucss.data.data; ///获取总的订单信息
                let orderListItemsData = []; // 所有订单
                let unpaidArrData = []; // 未付款的订单
                let pendingArrData = []; // 未处理的订单
                let processingArrData = []; // 进行中的订单
                let completedArrData = []; // 已经完成的订单
                let orderListAllData = []; // 所有订单数据汇总
                _this.maxOrderPage = sucss.data.max_page; //最大页码
                _this.nowOrderPage = sucss.data.page;// 当前页码
                for (let i = 0; i < orderListArr.length; i++) {
                  let orderLListData = orderListArr[i]; // 单个订单
                  let orderId = orderLListData.restaurantOrderId; // 订单的id号
                  let hotelId = orderLListData.hotelId; // 酒店id
                  let orderStatus = orderLListData.status; // 订单状态
                  let orderPayMoney =
                    parseFloat(orderLListData.totalPriceInMill) / 1000;
                  let orderPayment = _this.moneyImgIcon + orderPayMoney.toFixed(2); // 总付款金额
                  let orderTimes = orderLListData.placeTimestampUsec; // 订单时间
                  let deliverTimes = orderLListData.expectedDeliveryTime; // 预计送达时间
                  if(!deliverTimes){
                    deliverTimes = parseInt(orderTimes)+30*60*1000*1000;
                  }
                  let OrderListNote = orderLListData.note; // 订单备注信息
                  if(orderLListData.note){
                    _this.orderNoteShow = true; // 显示备注信息
                  }else{
                     _this.orderNoteShow = false; 
                  }
                  let orderItems = orderLListData.items; // 订单的种类
                  let orderLength = 0;
                  for (let q = 0; q < orderItems.length; q++) {
                    let orderQ = orderItems[q].quantity;
                    orderLength += orderQ;
                  }
                  let orderItemsMers = orderLListData.merchandises; // 商品
                  let orderImages = []; // 商品图片
                  for (let j = 0; j < orderItemsMers.length; j++) {
                    if (allImagesObj) {
                      let imageId =
                        orderItemsMers[j].defaultImage.internalImageId; // 商品的id值
                      if (imageId) {
                        let orderImageSrc =
                          allImagesObj[imageId].internal_image_url; // 获取图片地址
                        let imagesJson = {
                          src: orderImageSrc
                        };
                        orderImages.push(imagesJson);
                      }
                    }
                  }
                  let orderStatusGet = orderStatus.toLowerCase(); // 该订单的付款状态
                  let NowHotelTitle = localStorage.getItem("NowHotelTitle"); // 设定酒店名称
                  if (!NowHotelTitle) {
                    NowHotelTitle = "";
                  }
                  let orderListsJson = {
                    title: NowHotelTitle, // 酒店的id
                    payState: "", // 该订单的付款状态
                    orderListImages: orderImages, // 该订单的付款图片
                    orderNum: orderId, // 该订单的付款订单号码
                    orderAmount: orderLength, // 该订单商品的总数量
                    orderTime: _this.changeTimes(orderTimes), // 下订单时间
                    deliverTime:_this.changeTimes(deliverTimes), // 送达时间
                    orderMoney: orderPayment, // 总付款
                    orderDetailData: orderLListData, // 该订单的详情信息
                    orderNote:OrderListNote, // 备注信息
                    orderNoteShow: _this.orderNoteShow  //是否显示备注信息
                  };
                  if (orderStatusGet == "waiting_payment") {
                    orderListsJson.payState = _this.orderTts[0].title; // 未付款 // 重新赋值订单状态
                    unpaidArrData.push(orderListsJson); // 未付款
                  } else if (orderStatusGet == "started") {
                    orderListsJson.payState = _this.orderTts[1].title; // 未处理 // 重新赋值订单状态
                    pendingArrData.push(orderListsJson); // 未处理的订单
                  } else if (orderStatusGet == "processing") {
                    orderListsJson.payState = _this.orderTts[2].title; // 进行中; // 重新赋值订单状态
                    processingArrData.push(orderListsJson); // 已经完成的订单
                  } else if (orderStatusGet == "paid") {
                    orderListsJson.payState = _this.orderTts[3].title; // 完成 // 重新赋值订单状态
                    completedArrData.push(orderListsJson); // 已经完成的订单
                  }
                  orderListItemsData.push(orderListsJson); // 存储所有订单信息
                }
                if(pageNum == "1"){
                  _this.initOrderListData = orderListItemsData;// 全部订单的数据
                  _this.initUnpaidData = unpaidArrData; // 未付款的订单
                  _this.initPendingData = pendingArrData; // 未处理的订单
                  _this.initProcessingData = processingArrData; // 进行中的订单
                  _this.initCompletedData = completedArrData; // 已经完成的订单
                }else{
                  _this.initOrderListData = _this.initOrderListData.concat(orderListItemsData);// 全部订单的数据
                  _this.initUnpaidData = _this.initUnpaidData.concat(unpaidArrData); // 未付款的订单
                  _this.initPendingData = _this.initPendingData.concat(pendingArrData); // 未处理的订单
                  _this.initProcessingData =  _this.initProcessingData.concat(processingArrData); // 进行中的订单
                  _this.initCompletedData = _this.initCompletedData.concat(completedArrData); // 已经完成的订单
                  
                }
                orderListAllData.push(_this.initUnpaidData); // 存储未付款的数据
                orderListAllData.push(_this.initPendingData); // 存储未出理的数据
                orderListAllData.push(_this.initProcessingData); // 存储进行中的数据
                orderListAllData.push(_this.initCompletedData); // 存储完成的数据
                orderListAllData.push(_this.initOrderListData); // 存储所有订单的数据
                _this.orderListAll = orderListAllData; // 所有订单汇总
                _this.orderListItems = _this.orderListAll[pageIndex]; // 默认显示全部订单列表
                if (_this.orderListAll[0].length == "0") {
                  _this.orderdataLeng = true;
                } else {
                  _this.orderdataLeng = false;
                }
              }
            },
            function(err) {}
          );
          let timer = setTimeout(function(){
            _this.dataLoadShow = false; // 关闭加载中……
          },500);
          clearTimeout(timer);
      },
      jumpOrderDetail: function(index) {
        this.$router.push({
          path: "/orderListDetail"
        });
        this.orderListType = index;
        let orderData = this.orderListItems[index].orderDetailData; // 该订单的信息
        localStorage.setItem("orderDetailData", JSON.stringify(orderData)); // 该订单的详情信息
      },
      changeOrderList: function(index) {
        for (let i = 0; i < this.orderTts.length; i++) {
          if (i == index) {
            this.orderTts[i].state = true; // 显示状态
            this.pageIndexNum = index; //显示的索引
            this.orderListItems = this.orderListAll[index]; // 赋值订单
            let scrollObj = document.getElementById('orderScroll'); // 滚动区域
            scrollObj.scrollTop = 0; // 标题栏切换的时候，返回顶部
            if (this.orderListAll[index].length == "0") {
              this.orderdataLeng = true;
            } else {
              this.orderdataLeng = false;
            }
          } else {
            this.orderTts[i].state = false; // 不显示
          }
        }
      },
      replaceTitle: function(arr1, arr2) {
        for (let i = 0; i < arr1.length; i++) {
          arr1[i].title = arr2[i];
        }
      },
      changeTimes: function(dataTimes) {
        // 时间戳转换成时间格式
        let orderTimes = parseFloat(dataTimes);
        let date = new Date(orderTimes / 1000);
        let Y = date.getFullYear();
        let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
        let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
        let H = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
        let Min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
        let S = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let times = Y + '-' + M + '-' + D + ' ' + H +":" + Min +":"+ S;
        return times;
      },
      handleScroll: function() {
        let clientHeight = document.documentElement.clientHeight || document.body.clientHeight;  //手机屏幕高度
        let scrollObj = document.getElementById('orderScroll'); // 滚动区域
        if(scrollObj){
          let scrollTopObj = scrollObj.scrollTop; // div 到头部的距离
          let scrollHeight = scrollObj.scrollHeight; // 滚动条的总高度
          let orderPageNum = this.nowOrderPage;  // 当前加载到第几页
          //滚动条到底部的条件
          if(scrollTopObj+clientHeight == scrollHeight){
            if(this.nowOrderPage < this.maxOrderPage){
                orderPageNum++;
                let str = orderPageNum.toString();
                // this.$toast.loading({
                //     mask: true,  // 显示背景蒙层
                //     forbidClick:true, // 禁止背景图点击
                //     duration:2500,
                //     message: this.dataLoading // 加载中…
                //   });
                this.dataLoadShow = true;
                this.dataLoadingText = this.dataLoading; // 显示数据加载中
                this.orderListsQ(orderPageNum,this.pageIndexNum); // 调取分页
            }
            if(this.nowOrderPage == this.maxOrderPage && this.setOrderState == false){
                //this.$toast(this.dataBottom); // 到底部了
                this.dataLoadShow = false; // 关闭加载中……
            } 
          }
        }
      },
      jumpIndex: function(){
        this.$router.push({path: "/index"});
      },
    },
    destroyed: function(){
      window.removeEventListener('scroll', this.handleScroll);
    }
  };
</script>
<style src="../css/orderListQuery.scss" lang="scss" scoped>

</style>


