<template>
  <div class="orderListQuery orderDetailData">
    <div class="orderList-main clearFix">
      <div class="orderDeatil-mainly">
        <div class="orderDetail-main-tt">
          <div class="orderDetail-main-adress clearFix">
            <ul class="orderDetail-adress-tt">
              <li class=" order-adress-list adress-icon"><i class="iconfont icon-location"></i></li>
              <li class="order-adress-list">{{orderName}}</li>
              <li class="order-adress-list">{{orderTel}}</li>
            </ul>
            <div class="orderDetail-adress-p">{{orderAdress}}</div>
          </div>
        </div>
        <div class="orderDetail-list">
          <ul class="orderDeatil-num">
            <li class="orderDeatil-numTime">
              <span class="tt">{{orderNumtext}}</span>
              <span class="num">{{orderNumber}}</span>
            </li>
            <li class="orderDeatil-numTime">
              <span class="tt">{{orderTimeText}}</span>
              <span class="num">{{orderTimer}}</span>
            </li>
            <li class="orderDeatil-numTime">
              <span class="tt">{{deliverTimeText}}</span>
              <span class="num">{{deliverTimer}}</span>
            </li>
              <li class="orderDeatil-numTime order-note" v-show="orderNoteShow">
              <span class="tt">{{orderNoteText}}</span>
              <p class="num">{{orderNote}}</p>
            </li>
          </ul>
          <div class="orderDetail-proList">
            <div class="orderDetail-pro-top">
              <span class="hotel-text">{{hotelText}}</span>
              <span class="orderDetail-pro-pay">{{payState}}</span>
            </div>
            <ul class="orderDetail-pro-middle clearFix">
              <li class="orderDeatil-pro-list" v-for="(orderDetailList,index) in orderDetailLists" :key="index">
                <div class="orderDeatil-prolist-img">
                  <img class="orderDetail-img" v-lazy="orderDetailList.imgSrc" :key="orderDetailList.imgSrc" />
                </div>
                <div class="orderDeatil-prolist-text">
                  <h3 class="orderDeatil-prolist-tt">{{orderDetailList.title}}</h3>
                  <div class="orderDeatil-prolist-des">{{orderDetailList.des}}</div>
                  <div class="orderDeatil-prolist-pay">
                    <span>{{orderDetailList.payTotal}}</span>
                    <span class="numTotal">{{orderDetailList.number}}</span>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="orderDetail-pro-footer">
              <li class="orderDetail-pay-list">
                <span>{{Subtotal}}</span>
                <span class="orderDetail-right">{{SubtotalPay}}</span>
              </li>
              <li class="orderDetail-pay-list" v-show="addTaxChargeShow">
                <span>{{addTaxCharge}}</span>
                <span class="orderDetail-right">{{addTaxChargePay}}</span>
              </li>
              <li class="orderDetail-pay-list" v-show="ServiceChargeShow">
                <span>{{ServiceCharge}}</span>
                <span class="orderDetail-right">{{ServiceChargePay}}</span>
              </li>
            </ul>
            <div class="orderDetail-pro-total">
              <span>{{totalAmount}}</span>
              <span class="orderDetail-right">{{totalAmountPay}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="orderDetail-footer" v-show="paymentAginState">
        <div class="orderDetai-btn-cancel" @click="cancelOrderNow">{{cancleOrder}}</div>
        <div class="orderDetai-btn-pay" @click="payNowOrder">{{payNow}}</div>
      </div>
    </div>
    <div class="common-model" v-show="confirmOrderMoney">
      <div class="confirmOrder-model">
        <ul class="conOrder-ul">
          <li class="order-li">
            <div class="order-li-text order-li-first">
              <span>{{totalAmount}}</span>
              <span>{{totalAmountPay}}</span>
            </div>
            <div class="order-li-close" @click="confirmPaymentWayClose"> <i class="iconfont icon-cancel1"></i></div>
          </li>
          <li class="order-li" v-for="(payWay,index) in payWays" :key="index" v-show="payWay.stateShow" @click="selectedPayWay(index)">
            <div class="order-li-text">
              <div class="text-li-img"><img class="images" v-lazy="payWay.conOrderImg"  :key="payWay.conOrderImg" /></div>
              <div class="text-li-des">{{payWay.text}}</div>
            </div>
            <div class="order-li-close">
              <i class="iconfont" v-bind:class="{'icon-selected': payWay.state, 'icon-none': !payWay.state}"></i>
            </div>
          </li>
        </ul>
        <div class="confirm-footer">
          <button class="btn" @click="confirmPaymentWayMoney"><router-link to=""> {{confirmOrderBtn}}</router-link></button>
        </div>
      </div>
    </div>
    <div class="common-left-icon">
      <div class="common-bottom-left" @click="jumpOrderList">
        <i class="iconfont icon-back1"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import img1 from "../images/ways/1.png";
  import img2 from "../images/ways/2.png";
  import img3 from "../images/ways/3.png";
  import img4 from "../images/ways/4.png";
  import img5 from "../images/ways/5.png";
  export default {
    name: "setting",
    data() {
      return {
        orderListDetailTt: "Order Detail",
        testImg: img1,
        moneyImgIcon: "￥",
        orderName: "",
        orderTel: "",
        orderAdress: "",
        orderNumtext: "", // 订单
        orderNumber: "", // 订单号码
        orderTimeText: "", // 下订单时间
        deliverTimeText:"",// 送达时间
        orderTimer: "", // 下订单时间
        deliverTimer:"",
        orderNoteText:"",
        orderNote:"",
        orderNoteShow:"",
        hotelText: "Hotel", // 酒店名称
        payState: "Unpaid", // 付款状态
        orderDetailLists: [],
        Subtotal: "", // 小计
        SubtotalPay: "0.00", //小计费
        ServiceCharge: "", // 服务费
        ServiceChargePay: "0.00", // 服务费
        ServiceChargeShow: false,
        addTaxCharge: "", // 增值税
        addTaxChargePay: "",
        addTaxChargeShow: false,
        totalAmount: "", // 总价
        totalAmountPay: "", //总价
        totalPriceNumber: "", // 总价的数目
        cancleOrder: "", // 取消订单
        payNow: "", //立即支付
        orderDetailStateArr: [],
        paymentAginState: true,
        interOrderId: "",
        confirmOrderMoney: false, // 弹出框
        payWays: [{
            text: "Alipay",
            conOrderImg: img1,
            state: false,
            order: "0",
            stateShow: false
          },
          {
            text: "WeChat",
            conOrderImg: img2,
            state: false,
            order: "1",
            stateShow: false
          },
          {
            text: "Cash",
            conOrderImg: img3,
            state: true,
            order: "2",
            stateShow: true
          },
          {
            text: "Credit Card ",
            conOrderImg: img4,
            state: false,
            order: "3",
            stateShow: true
          },
          {
            text: "To Room Folio ",
            conOrderImg: img5,
            state: false,
            order: "4",
            stateShow: false
          }
        ],
        confirmOrderBtn: "确认"
      };
    },
    mounted: function() {
      this.orderListDetailLoad();
    },
    methods: {
      orderListDetailLoad: function() {
        let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
        if (!moneyImg) {
          moneyImg = "￥"; // 获取符号不存在时，默认为人民币
        }
        this.moneyImgIcon = moneyImg;
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.orderListDetailTt = "Order Detail";
          this.orderNumtext = "Order Number:"; // 订单
          this.orderTimeText = "Order Time:"; // 下订单时间
          this.deliverTimeText = "Deliver Time:"; // 送达时间
          this.Subtotal = "Total commodity price:"; // 小计
          this.ServiceCharge = "Service Charge"; // 服务费
          this.addTaxCharge = "Value added tax"; // 增值税
          this.totalAmount = "Total Amount:"; // 总计
          this.cancleOrder = "Cancle Order"; // 取消订单
          this.payNow = "pay Now"; //立即支付
          this.orderDetailStateArr = [
            "Unpaid",
            "Pending",
            "Processing",
            "Completed"
          ];
          this.totalAmountText = "Total Amount:";
          this.confirmOrderBtn = "Confirm";
          // 五种支付方式为
          this.payWays[0].text = "Alipay";
          this.payWays[1].text = "WeChat";
          this.payWays[2].text = "Cash";
          this.payWays[3].text = "Credit Card";
          this.payWays[4].text = "To Room Folio";
          this.orderNoteText = "Note:";
        } else {
          this.orderListDetailTt = "订单详情";
          this.orderNumtext = "订单号："; // 订单
          this.orderTimeText = "订单时间："; // 下订单时间
           this.deliverTimeText = "送达时间："; // 送达时间
          this.Subtotal = "商品总价："; // 小计
          this.ServiceCharge = "服务费"; // 服务费
          this.addTaxCharge = "增值税"; // 增值税
          this.totalAmount = "总价："; // 总计
          this.cancleOrder = "取消订单"; // 取消订单
          this.payNow = "立即支付"; //立即支付
          this.orderDetailStateArr = ["未付款", "未处理", "进行中", "完成"];
          this.totalAmountText = "总价:";
          this.confirmOrderBtn = "确认";
          // 五种支付方式为
          this.payWays[0].text = "支付宝";
          this.payWays[1].text = "微信";
          this.payWays[2].text = "现金";
          this.payWays[3].text = "信用卡";
          this.payWays[4].text = "挂房账";
          this.orderNoteText = "备注：";
        }
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let orderListData = localStorage.getItem("orderDetailData"); // 该订单的详情信息
        let orderListObj = JSON.parse(orderListData); // 订单详情 json字符串转换成json
        console.log("orderListObj",orderListObj);
        if (orderListObj) {
          let adressList = orderListObj.deliveryAddress; // 地址信息
          this.orderName = adressList.recipientName; // 姓名
          this.orderTel = adressList.recipientPhone; // 电话
          this.orderAdress = adressList.address; // 地址
          this.orderNumber = orderListObj.restaurantOrderId; // 订单号码
          this.interOrderId = orderListObj.internalOrderId; // 当前的订单号码（调取接口）
          this.orderTimer = this.changeTimes(orderListObj.placeTimestampUsec); // 
          if(!orderListObj.expectedDeliveryTime){
           let deliverTimes = parseInt(orderListObj.placeTimestampUsec)+30*60*1000*1000;
           this.deliverTimer = this.changeTimes(deliverTimes); // 送达时间
          }else{
            this.deliverTimer = this.changeTimes(orderListObj.expectedDeliveryTime); // 送达时间
          }
          
          this.orderNote = orderListObj.note; // 备注信息
          if(orderListObj.note){
            this.orderNoteShow = true;
          }else{
            this.orderNoteShow = false;
          }
          let NowHotelTitle = localStorage.getItem("NowHotelTitle"); // 设定酒店名称
          if (!NowHotelTitle) {
            NowHotelTitle = "";
          }
          this.hotelText = NowHotelTitle; // 酒店id名称
          let orderStatusGet = orderListObj.status.toLowerCase(); // 商品状态（已付款/未付款）
          let orderStatusShow = ""; // 订单的状态
          this.paymentAginState = false; // 不显示底部支付按钮
          if (orderStatusGet == "waiting_payment") {
            orderStatusShow = this.orderDetailStateArr[0]; // 未付款
            this.paymentAginState = true; // 显示底部支付按钮
          } else if (orderStatusGet == "started") {
            orderStatusShow = this.orderDetailStateArr[1]; // 未处理
          } else if (orderStatusGet == "processing") {
            orderStatusShow = this.orderDetailStateArr[2]; // 进行中
          } else if (orderStatusGet == "paid") {
            orderStatusShow = this.orderDetailStateArr[3]; // 完成
          }
          this.payState = orderStatusShow; // 商品状态（已付款/未付款）
          let payTotalM = parseFloat(orderListObj.totalPriceInMill) / 1000; // 总付款
          let payAddTax = orderListObj.valueAddedTaxInMill; // 增值税
          let add_tax = orderListObj.valueAddedTaxPermillage; // 增值税税率
          let service_tax = orderListObj.surchargePermillage; // 服务费费率
          let payTotalAddTax = 0; // 初始化增值税
          this.addTaxChargeShow = false; // 初始化增值税不显示
          if (payAddTax) {
            payTotalAddTax = parseFloat(payAddTax) / 1000; // 增值税税率
            this.addTaxChargeShow = true; // 增值税数值显示
            if(add_tax){
              add_tax = add_tax/10 + "%";
              this.addTaxCharge = this.addTaxCharge+"("+add_tax+")"+":"; // 增值税
            }
          }
          let payService = orderListObj.surchargeInMill; // 服务费
          let payTotalService = 0; // 初始化服务费
          this.ServiceChargeShow = false; // 初始化服务费不显示
          if (payService) {
            payTotalService = parseFloat(payService) / 1000; // 服务费
            this.ServiceChargeShow = true; // 服务费显示
            if(service_tax){
              service_tax = service_tax/10+"%";
              this.ServiceCharge = this.ServiceCharge + "("+service_tax+")"+":"; // 服务费
            }
          }
          this.totalPriceNumber = parseInt(orderListObj.totalPriceInMill); // 总价的数目
          let proDataItems = orderListObj.items; // 商品id
          let proDataMers = orderListObj.merchandises; // 商品信息
          proDataItems = this.jsonSort(proDataItems, "merchandiseLangAgnosticId"); // 排序
          proDataMers = this.jsonSort(proDataMers, "langAgnosticId"); // 排序
          let merchandisesArr = []; // 产品列表
          let totalMoneyNumber = 0;
          for (let i = 0; i < proDataItems.length; i++) {
            let proDataItem = proDataItems[i]; // 商品id
            let protDataMer = proDataMers[i]; // 商品信息
            for (let j = 0; j < proDataMers.length; j++) {
              let proLogId = proDataItem.merchandiseLangAgnosticId; // 产品id
              let proDataMerId = proDataMers[j].langAgnosticId; //产品id
              if (proLogId == proDataMerId) {
                protDataMer = proDataMers[j];
              }
            }
            let proLangData = protDataMer.translates[languageSet];
            let proTitle = proLangData.title; // 产品名称
            let proNum = proDataItem.quantity; // 产品数量
            let proPrice = parseFloat(proDataItem.unitPriceInMill) / 1000; //产品单价
            let proTotalPrice = parseFloat(proDataItem.priceInMill) / 1000; // 该类产品的总价
            totalMoneyNumber += proTotalPrice;
            let proVarItemArr = proDataItem.variants; // 该类产品的描述
            let proDes = ""; // 商品描述
            let proImgSrc = "";
            if (proVarItemArr && proVarItemArr.length > 0) {
              let proVarMerArr = proLangData.optionTranslations.translations;
              if (proVarMerArr) {
                for (let j = 0; j < proVarItemArr.length; j++) {
                  let proVarIemId = proVarItemArr[j]; // 该类产品描述的id
                  let proDesItem = proVarMerArr[proVarIemId]; // 该类产品的描述
                  proDesItem += " ";
                  proDes += proDesItem; //该类产品的总描述
                }
              }
            }
            if (allImagesObj) {
              let proImgId = protDataMer.defaultImage.internalImageId; // 图片id
              if (proImgId) {
                proImgSrc = allImagesObj[proImgId].internal_image_url; // 获取图片地址
              }
            }
            let proListDataJson = {
              imgSrc: proImgSrc, // 图片
              title: proTitle, // 产品名称
              des: proDes, // 描述
              payTotal: this.moneyImgIcon + proPrice, // 单价
              number: proNum, // 数量
              payTotalAll: proTotalPrice // 该类产品的总价
            };
            merchandisesArr.push(proListDataJson); // 总产品
          }
          totalMoneyNumber = parseFloat(totalMoneyNumber);
          this.SubtotalPay = this.moneyImgIcon + totalMoneyNumber.toFixed(2); // 小计
          this.ServiceChargePay = this.moneyImgIcon + payTotalService; // 服务费
          this.addTaxChargePay = this.moneyImgIcon + payTotalAddTax; // 附件税
          this.totalAmountPay = this.moneyImgIcon + payTotalM.toFixed(2); // 总付款金额
          this.orderDetailLists = merchandisesArr; // 赋值产品列表信息
        }
      },
      cancelOrderNow: function() {
        let _this = this;
        _this.axios
          .post(
            //订单的接口
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_order/" +
            _this.interOrderId +
            "/cancel/?" +
            _this.$root.junAppQuery +
            _this.$root.junAppName +
            "", {
              reason: " "
            }
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              console.log("document.cookieSetting", document.cookie);
              _this.$router.push({
                path: "/orderListQuery"
              });
            }
          });
      },
      payNowOrder: function() {
        // 立即支付
        this.confirmOrderMoney = true;
      },
      confirmPaymentWayClose: function() {
        this.confirmOrderMoney = false;
      },
      confirmPaymentWayMoney: function() {
        for (let i = 0; i < this.payWays.length; i++) {
          let stateS = this.payWays[i].state; // 哪个付款方式处于选中状态
          let urlPath = "pay_cash"; // 默认是现金支付
          if (stateS == true) {
            if (i > 2 || i == 2) {
              if (i == 2) {
                urlPath = "pay_cash"; // 现金
              } else if (i == 3) {
                urlPath = "pay_credit_card"; // 信用卡
              } else if (i == 4) {
                urlPath = "pay_room_folio"; // 挂房账
              }
              this.payUrlWay = urlPath;
              // 总价
              let urlPathWay = urlPath + "=" + this.totalPriceNumber; // 付款时传入的参数
              let jsonUrl = {
                way: urlPathWay, // 付款方式
                order: i + 1, // 第几个
                id: this.interOrderId, // 付款订单号
                totalPay: this.totalAmountPay // 总付款数
              };
              localStorage.setItem("urlPath", JSON.stringify(jsonUrl)); // 订单编号
              this.confirmOrderMoney = false; // 关闭支付方式
              this.$router.push({
                path: "/orderConfirm"
              });
            } else {
              //调取微信/支付宝接口
            }
          }
        }
      },
      selectedPayWay: function(index) {
        for (let i = 0; i < this.payWays.length; i++) {
          this.payWays[i].state = false; // 其他选中的项目
        }
        this.payWays[index].state = true; // 当前点击的付款方式确认
      },
      changeTimes: function(dataTimes) {
        // 时间戳转换成时间格式
         let orderTimes = parseFloat(dataTimes);
        let date = new Date(orderTimes / 1000);
        let Y = date.getFullYear();
        let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
        let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
        let H = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
        let Min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
        let S = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let times = Y + '-' + M + '-' + D + ' ' + H +":" + Min +":"+ S;
        return times;
      },
      jsonSort: function(arr, key) {
        // 比较字符串下面的json数据排序
        if (key == true) {
          key = 1;
        } else if (key == false) {
          key = 0;
        }
        for (let j = 1, k = arr.length; j < k; j++) {
          let temp = arr[j],
            val = temp[key],
            i = j - 1;
          val = parseFloat(val);
          while (i >= 0 && parseFloat(arr[i][key]) > val) {
            arr[i + 1] = arr[i];
            i = i - 1;
          }
          arr[i + 1] = temp;
        }
        return arr;
      },
      jumpOrderList:function(){
         this.$router.push({path: "/orderListQuery"});
      }
    }
  };
</script>
<style src="../css/orderListQuery.scss" lang="scss" scoped>

</style>


