<template>
  <div class="roomCommon acc">
    <room-top></room-top>
    <div class="roomCommon-con">
      <room-slider></room-slider>
      <div class="roomCommon-main clearBox">
        <div class="main-content clearBox">
          <div class="toplist">
            <div class="left iconbox"
                 :class="{'icon-box-active':btndata[0].state}"
                 @click.stop="btn(btndata[0].name)"><i class="iconfont icon-exhaust"></i></div>
            <div class="right iconbox"
                 :class="{'icon-box-active':btndata[1].state}"
                 @click.stop="btn(btndata[1].name)"><i class="iconfont icon-on"></i></div>
          </div>
          <div class="center"
               v-bind:class="{'pointDefault':!allState}">
            <div class="modeType"><i class="iconfont"
                 :class="[defaultMode.iconname,{'active':btndata[1].state&&allState}]"></i><span>{{defaultMode.name}}</span></div>
            <div class="temperature"
                 :class="{'active':btndata[1].state&&allState}">{{airdata.tempNum}}{{tempUnit}}</div>
            <div class="tempButton">
              <ul>
                <li class="sub iconbox"
                    :class="{'icon-box-active':btndata[2].state}"
                    @click.stop="btn(btndata[2].name)"><i class="iconfont icon-sub1"></i></li>
                <li class="add iconbox"
                    :class="{'icon-box-active':btndata[3].state}"
                    @click.stop="btn(btndata[3].name)"><i class="iconfont icon-add1"></i></li>
              </ul>
            </div>
          </div>
          <div class="modeButton"
               v-bind:class="{'pointDefault':!allState}">
            <div class="left iconbox"
                 :class="{'icon-box-active':btndata[4].state&&allState}"
                 @click.stop="btn(btndata[4].name)"><i class="iconfont icon-hot"></i></div>
            <div class="center iconbox"><i class="iconfont icon-auto"></i></div>
            <div class="right iconbox"
                 :class="{'icon-box-active':btndata[5].state&&allState}"
                 @click.stop="btn(btndata[5].name)"><i class="iconfont icon-cold"></i></div>
          </div>
          <div class="fans"
               v-bind:class="{'pointDefault':!allState}">
            <div class="left iconbox"
                 :class="{'icon-box-active':btndata[6].state}"
                 @click.stop="btn(btndata[6].name)"><i class="iconfont icon-sub1"></i></div>
            <div class="center iconbox"
                 :class="{'active':btndata[1].state&&allState}"><i class="iconfont"
                 :class="defaultWind"></i></div>
            <div class="right iconbox "
                 :class="{'icon-box-active':btndata[7].state}"
                 @click.stop="btn(btndata[7].name)"><i class="iconfont icon-add1"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RoomTop from "../../../components/room_chengdu/RoomTop.vue";
import RoomSlider from "../../../components/room_chengdu/RoomSlider.vue";
export default {
  name: "ac",
  components: {
    RoomTop,
    RoomSlider
  },
  data() {
    return {
      allState: false,
      active: false,
      airdata: {
        box: 255, // --房间 RCU 的 Box 号 范围：1-255
        airBox: 1, // --空调Box号 范围：1-255
        Fans: 1, //--风速 范围：0-12 4档风速：0表示关，1表示低速，2表示中速，3表示高速；10档风速：0表示关，4-12分别对应1至9档，3表示10档。
        Mode: 3, // --模式 范围:0-3 0表示关，1表示通风，2表示制冷，3表示制热
        tempNum: 26 // --设置温度 范围：16-32
      },
      tempUnit: "℃",
      btndata: [
        { name: "exhaust", state: false },
        { name: "power", state: false },
        { name: "tempSub", state: false },
        { name: "tempAdd", state: false },
        { name: "Hot", state: false },
        { name: "Cool", state: false },
        { name: "fansSub", state: false },
        { name: "fansAdd", state: false }
      ],
      wind: ["icon-auto", "icon-smallwind", "icon-wind1", "icon-wind"],
      mode: ["icon-hot", "icon-cold"],
      defaultWind: "icon-smallwind",
      defaultMode: {
        iconname: "icon-hot",
        name: "Hot"
      }
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    this.defaultMode.name = languageSet == "en" ? "Heat" : "制热";
    this.btndata[4].state = true;
  },
  methods: {
    sendCommand: function() {
      let roomAirArr = this.$store.state.roomAirArr;
      let rcuApiServer = this.$root.rcuApiServer;
      let datas = {
        box: 255,
        airBox: this.airdata.airBox,
        Fans: this.airdata.Fans,
        Mode: this.airdata.Mode,
        tempNum: this.airdata.tempNum
      };
      console.log(datas);
      this.axios
        .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
          hex:
            roomAirArr[0] +
            datas.box +
            roomAirArr[1] +
            datas.airBox +
            roomAirArr[2] +
            datas.Fans +
            roomAirArr[3] +
            datas.Mode +
            roomAirArr[4] +
            datas.tempNum +
            roomAirArr[5]
        })
        .then(function(sures) {
          console.log("发送成功", sures);
        })
        .catch(function(catchres) {
          console.log("发送失败", catchres);
        });
    },

    btn: function(type) {
      console.log(type);
      let languageSet = localStorage.getItem("languageSet");
      if (!languageSet) {
        languageSet = "en";
      }

      switch (type) {
        case "exhaust":
          if (this.btndata[0].state === true) {
            this.btndata[0].state = false;
          } else {
            this.btndata[0].state = true;
          }
          break;
        case "power":
          if (this.btndata[1].state === true) {
            this.btndata[1].state = false;
            this.allState = false;
            this.airdata.Fans = 0; //关闭空调
            this.airdata.Mode = 0; // --模式 范围:0-3 0表示关，1表示通风，2表示制冷，3表示制热
            this.sendCommand();
          } else {
            this.btndata[1].state = true;
            this.allState = true;
            this.airdata.Fans = 1; //开启空调
            this.airdata.Mode = 3; //开启空调
            this.sendCommand();
          }
          break;
        case "tempSub":
          this.airdata.tempNum--;
          this.airdata.airBox = 1;

          this.btndata[2].state = true;
          setTimeout(() => {
            this.btndata[2].state = false;
          }, 300);

          if (this.airdata.tempNum < 16) {
            this.airdata.tempNum = 16;
          }

          this.sendCommand();
          break;
        case "tempAdd":
          this.airdata.tempNum++;
          this.airdata.airBox = 1;

          this.btndata[3].state = true;
          setTimeout(() => {
            this.btndata[3].state = false;
          }, 300);

          if (this.airdata.tempNum > 32) {
            this.airdata.tempNum = 32;
          }

          this.sendCommand();

          break;
        case "Hot":
          this.btndata[4].state = true;
          this.btndata[5].state = false;
          this.defaultMode.iconname = "icon-hot";
          this.defaultMode.name = languageSet == "en" ? "Heat" : "制热";
          this.airdata.Mode = 3;
          this.sendCommand();
          break;
        case "Cool":
          this.btndata[5].state = true;
          this.btndata[4].state = false;
          this.defaultMode.iconname = "icon-cold";
          this.defaultMode.name = languageSet == "en" ? "Cool" : "制冷";
          this.airdata.Mode = 2;
          this.sendCommand();
          break;

        case "fansAdd":
          this.btndata[6].state = true;
          setTimeout(() => {
            this.btndata[6].state = false;
          }, 300);
          this.airdata.Fans++;
          if (this.airdata.Fans >= 3) this.airdata.Fans = 3;
          this.defaultWind = this.wind[this.airdata.Fans];
          this.sendCommand();
          break;

        case "fansSub":
          this.btndata[7].state = true;
          setTimeout(() => {
            this.btndata[7].state = false;
          }, 300);
          this.airdata.Fans--;
          if (this.airdata.Fans <= 1) this.airdata.Fans = 1;
          this.defaultWind = this.wind[this.airdata.Fans];
          this.sendCommand();
          break;
      }
    }
  }
};
</script>
<style src="../css/ac2.scss"  lang="scss" scoped>
</style>
