<template>
  <div class="roomCommon light">
    <room-top></room-top>
    <div class="roomCommon-con">
      <room-slider></room-slider>
      <div class="roomCommon-main clearBox">
        <div class="main-content clearBox">
          <div class="scene-list"
               v-for="(scene,index) in scenes"
               :key="index">
            <h3 class="ul-title">
              <span class="title-dot">·</span>
              <span>{{scene.title}}</span>
              <span class="title-dot">·</span>
            </h3>
            <ul class="main-con-ul clearBox">
              <li class="main-li"
                  v-bind:class="{'li-right':item.right, 'li-active':item.state}"
                  v-for="(item,index1) in scene.items"
                  :key="index1"
                  @click.stop="controlLight(index,index1)">
                <div class="li-icon"><i class="iconfont"
                     v-bind:class="item.icon"></i></div>
                <div class="li-text">{{item.text}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room_chengdu/RoomTop.vue";
import RoomSlider from "../../../components/room_chengdu/RoomSlider.vue";
export default {
  name: "light",
  components: {
    RoomTop,
    RoomSlider
  },
  data() {
    return {
      scenes: [
        {
          title: "Bedroom",
          items: [
            {
              text: "总开关",
              icon: "icon-light",
              state: false,
              right: true,
              open: "FB64061300010186",
              close: "FB64061300010186"
            },
            {
              text: "勿扰",
              icon: "icon-dnd",
              state: false,
              right: false,
              open: "FB6401130002018A",
              close: "FB6401130002018A"
            },
            {
              text: "夜灯",
              icon: "icon-light",
              state: false,
              right: true,
              open: "FB64061300030184",
              close: "FB64061300030184"
            },

            {
              text: "筒灯",
              icon: "icon-light",
              state: false,
              right: false,
              open: "FB64051300010187",
              close: "FB64051300010187"
            },
            // {
            //   text: "场景1",
            //   icon: "icon-light",
            //   state: false,
            //   right: true,
            //   open: "FB64071300010185",
            //   close: "FB64071300010185"
            // },
            // {
            //   text: "场景2",
            //   icon: "icon-light",
            //   state: false,
            //   right: false,
            //   open: "FB64071300020184",
            //   close: "FB64071300020184"
            // },
            // {
            //   text: "场景3",
            //   icon: "icon-light",
            //   state: false,
            //   right: true,
            //   open: "FB64071300030183",
            //   close: "FB64071300030183"
            // },

            {
              text: "灯带",
              icon: "icon-light",
              state: false,
              right: true,
              open: "FB64051300020186",
              close: "FB64051300020186"
            },

            {
              text: "衣帽间",
              icon: "icon-light",
              state: false,
              right: false,
              open: "FB64021300020189",
              close: "FB64021300020189"
            }
          ]
        }
        // {
        //   title: "盥洗室",
        //   items: [
        //     {
        //       text: "排气扇",
        //       icon: "icon-light",
        //       state: true,
        //       right: true,
        //       open: "F504FFFE006400A6",
        //       close: "F504FFFE006400A6"
        //     },
        //     {
        //       text: "镜前灯",
        //       icon: "icon-light",
        //       state: false,
        //       right: false,
        //       open: "F506FFFE006400A4",
        //       close: "F506FFFE006400A4"
        //     },
        //     {
        //       text: "射灯",
        //       icon: "icon-light",
        //       state: false,
        //       right: true,
        //       open: "F503FFFE006400A7",
        //       close: "F503FFFE006400A7"
        //     },
        //     {
        //       text: "灯带",
        //       icon: "icon-light",
        //       state: false,
        //       right: false,
        //       open: "F505FFFE006400A5",
        //       close: "F505FFFE006400A5"
        //     }
        //   ]
        // }
      ]
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    console.log(languageSet);
    this.replace(languageSet);
  },
  methods: {
    replace: function(lang) {
      let arrItems1 = [
        {
          title: "Bedroom",
          arr: [
            "Master switch",
            "DND",
            "Night light",
            "Down light",
            // "Scene one ",
            // "Scene two ",
            // "Scene three ",
            "Light strip",
            "Coatroom"
          ]
        }
        // {
        //   title: "Washroom",
        //   items: ["Fans", "Lens Heading", "Tube Lamp", "Light Belt"]
        // }
      ];
      let arrItems2 = [
        {
          title: "客厅",
          arr: [
            "总开关",
            "勿扰",
            "夜灯",
            "筒灯",
            // "场景1",
            // "场景2",
            // "场景3",
            "灯带",
            "衣帽间"
          ]
        }
        // {
        //   title: "盥洗室",
        //   arr: ["排气扇", "镜前灯", "卫生间射灯", "卫生间灯带"]
        // }
      ];
      let arrItems = [];
      if (lang == "en") {
        arrItems = arrItems1;
      } else {
        arrItems = arrItems2;
      }
      console.log(arrItems);
      // for (let i = 0; i < arrItems.length; i++) {
      // this.scenes[i].title = arrItems[i].title;
      for (let j = 0; j < this.scenes[0].items.length; j++) {
        this.scenes[0].items[j].text = arrItems[0].arr[j];
      }
      // }
    },
    // 开关控制
    controlLight: function(index, index1) {
      let state = this.scenes[index].items[index1].state;
      let that = this;
      let rcuApiServer = that.$root.rcuApiServer;
      console.log(rcuApiServer);
      this.scenes[index].items[index1].state = true;
      setTimeout(() => {
        this.scenes[index].items[index1].state = false;
      }, 200);
      let datas =
        that.$root.roomControlA +
        this.scenes[index].items[index1].open +
        that.$root.roomControlB;
      console.log(this.scenes[index].items[index1].open);
      this.axios
        .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
          hex: datas
        })
        .then(function(sures) {
          console.log("发送成功", sures);
        })
        .catch(function(catchres) {
          console.log("发送失败", catchres);
        });
    }
  },
  destroyed: function(index) {}
};
</script>


<style src="../css/light.scss" lang="scss" scoped>
</style>


