<template>
  <div class="roomCommon scene">
    <room-top></room-top>
    <div class="roomCommon-con">
      <room-slider></room-slider>
      <div class="roomCommon-main clearBox">
        <div class="main-content clearBox">
          <div class="scene-list"
               v-for="(scene,index) in scenes"
               :key="index">
            <h3 class="ul-title">
              <span class="title-dot">·</span>
              <span>{{scene.title}}</span>
              <span class="title-dot">·</span>
            </h3>
            <ul class="main-con-ul clearBox">
              <li class="main-li"
                  v-bind:class="{'li-right':item.right, 'li-active':item.state}"
                  v-for="(item,index1) in scene.items"
                  :key="index1"
                  @click.stop="changeScene(index,index1)">
                <span><i class="iconfont"
                     v-bind:class="item.icon"></i></span>
                <span class="li-text">{{item.text}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room_chengdu/RoomTop.vue";
import RoomSlider from "../../../components/room_chengdu/RoomSlider.vue";
export default {
  name: "scene",
  components: {
    RoomTop,
    RoomSlider
  },
  data() {
    return {
      scenes: [
        {
          title: "Living Room Scenes",
          items: [
            // { text: "Bright", icon: "icon-bright", state: false, right: true },
            // {
            //   text: "Reading",
            //   icon: "icon-reading",
            //   state: true,
            //   right: false
            // },
            // {
            //   text: "Video & Music",
            //   icon: "icon-videomusic",
            //   state: false,
            //   right: true
            // }
            {
              text: "场景1",
              icon: "icon-light",
              state: false,
              right: true,
              open: "FB64071300010185",
              close: "FB64071300010185"
            },
            {
              text: "场景2",
              icon: "icon-light",
              state: false,
              right: false,
              open: "FB64071300020184",
              close: "FB64071300020184"
            },
            {
              text: "场景3",
              icon: "icon-light",
              state: false,
              right: true,
              open: "FB64071300030183",
              close: "FB64071300030183"
            }
            // {
            //   text: "Sleeping",
            //   icon: "icon-sleeping",
            //   state: false,
            //   right: false
            // }
          ]
        }
        // {
        //   title: "Bedroom Scenes",
        //   items: [
        //     { text: "Bright", icon: "icon-bright", state: false, right: true },
        //     {
        //       text: "Reading",
        //       icon: "icon-reading",
        //       state: false,
        //       right: false
        //     },
        //     {
        //       text: "Video & Music",
        //       icon: "icon-videomusic",
        //       state: true,
        //       right: true
        //     },
        //     {
        //       text: "Sleeping",
        //       icon: "icon-sleeping",
        //       state: false,
        //       right: false
        //     }
        //   ]
        // },
        // {
        //   title: "Washroom Scenes",
        //   items: [
        //     { text: "Bright", icon: "icon-bright", state: false, right: true },
        //     { text: "Spa", icon: "icon-spa1", state: true, right: false },
        //     {
        //       text: "Video & Music",
        //       icon: "icon-videomusic",
        //       state: false,
        //       right: true
        //     },
        //     {
        //       text: "Sleeping",
        //       icon: "icon-sleeping",
        //       state: false,
        //       right: false
        //     }
        //   ]
        // }
      ]
    };
  },
  mounted: function() {
    let languageSet = localStorage.getItem("languageSet");
    if (!languageSet) {
      languageSet = "en";
    }
    this.replace(languageSet);
  },
  methods: {
    changeScene: function(index, index1) {
      let arr = this.scenes[index].items;
      for (let i = 0; i < arr.length; i++) {
        this.scenes[index].items[i].state = false;
      }
      this.scenes[index].items[index1].state = true;
      let rcuApiServer = this.$root.rcuApiServer;
      let datas =
        this.$root.roomControlA +
        this.scenes[index].items[index1].open +
        this.$root.roomControlB;
      console.log(this.scenes[index].items[index1].open);
      this.axios
        .post(rcuApiServer + "/rcu/?service=rc.push_dalitak", {
          hex: datas
        })
        .then(function(sures) {
          console.log("发送成功", sures);
        })
        .catch(function(catchres) {
          console.log("发送失败", catchres);
        });
    },
    replace: function(lang) {
      let arrItems1 = [
        {
          title: "Living Room Scenes",
          arr: ["Scene one", "Scene two", "Scene three"]
        }
        // {
        //   title: "Bedroom Scenes",
        //   arr: ["Bright", "Reading", "Video & Music", "Sleeping"]
        // },
        // {
        //   title: "Washroom Scenes",
        //   arr: ["Bright", "Spa", "Video & Music", "Sleeping"]
        // }
      ];
      let arrItems2 = [
        {
          title: "场景模式",
          arr: ["场景一", "场景二", "场景三"]
        }
        // {
        //   title: "卧室场景",
        //   arr: ["明亮", "阅读", "视频 & 音乐", "睡眠"]
        // },
        // {
        //   title: "盥洗室",
        //   arr: ["明亮", "Spa", "视频 & 音乐", "睡眠"]
        // }
      ];
      let arrItems = [];
      if (lang == "en") {
        arrItems = arrItems1;
      } else {
        arrItems = arrItems2;
      }
      for (let i = 0; i < arrItems.length; i++) {
        this.scenes[i].title = arrItems[i].title;
        for (let j = 0; j < this.scenes[i].items.length; j++) {
          this.scenes[i].items[j].text = arrItems[i].arr[j];
        }
      }
    }
  },
  destroyed: function(index) {}
};
</script>


<style src="../css/scene.scss" lang="scss" scoped>
</style>


